{% for article in blogs.recipes.articles %}
    {% if article.handle == featured_recipe_handle %}
        {% assign id = article.id %}
        {% assign title = article.title %}
        {% assign tags = article.tags %}
        {% assign image = article.image %}
        {% assign content = article.content %}
        {% include 'dialog-article' %}

        {% assign featured_recipe = article %}
        {% break %}
    {% endif %}
{% endfor %}
<div class="featured-recipes__item">
    <div class="featured-recipes__video-wrap" data-video="{{ video }}">
        <iframe class="featured-recipes__video" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
        <figure class="featured-recipes__image" style="background-image: url({{ featured_recipe.image | img_url: '1920x' }})">
        </figure>
        <div class="featured-recipes__icon">
            <svg width="65px" height="65px" viewBox="0 0 65 65">
                <use xlink:href="#ico-play"></use>
            </svg>
        </div>
    </div>
    <div class="featured-recipes__item-content">
        <h3 class="featured-recipes__title">{{ featured_recipe.title }}</h3>
        <p class="featured-recipes__description">{{ description }}</p>
        <a class="featured-recipes__link" href="#" data-dialog="article-{{ featured_recipe.id }}" data-module="modal">View recipe</a>
    </div>
    <div class="featured-recipes__border"></div>
    <div class="featured-recipes__tip">
        <p class="featured-recipes__tip-title">Juicing Tip</p>
        <div class="featured-recipes__tip-content">
            <img src="{{ 'featured-recipes__tip.png' | asset_url }}" alt="" class="featured-recipes__tip-image">
            <div class="featured-recipes__tip-description">
                <p class="featured-recipes__tip-text">
                    {{ tips }}
                </p>
                <a href="/collections/all/">Shop Now</a>
            </div>
        </div>
    </div>
</div>

{% assign id = false %}
{% assign title = false %}
{% assign tags = false %}
{% assign image = false %}
{% assign content = false %}
{% assign featured_recipe = false %}

