<!-- /snippets/modules/landing-hero-intro.liquid -->

<section class="hero-intro" data-module="landing-hero-intro">
    <div class="container hero-intro__container">
        <div class="hero-intro__images">
            <figure class="hero-intro__image hero-intro__image--tomato1" style="background-image:url({{ 'hero-tomato-1.png' | asset_url }})"></figure>
            <figure class="hero-intro__image hero-intro__image--tomato2" style="background-image:url({{ 'hero-tomato-2.png' | asset_url }})"></figure>
            <figure class="hero-intro__image hero-intro__image--hummus" style="background-image:url({{ 'hero-hummus.png' | asset_url }})"></figure>
            <figure class="hero-intro__image hero-intro__image--salad" style="background-image:url({{ 'hero-salad.png' | asset_url }})"></figure>
            <figure class="hero-intro__image hero-intro__image--pasta" style="background-image:url({{ 'hero-pasta.png' | asset_url }})"></figure>
        </div>
        <div class="hero-intro__inner">
            <div class="hero-intro__content">
                <h1 class="hero-intro__headline">
                    {% include 'logo-hurom' %}<span class="hero-intro__x"></span><img src="{{ 'sur-la.png' | asset_url }}" alt="Sur la table">
                </h1>
                <p class="hero-intro__description">
                    We teamed up in the kitchen with Sur La Table and Katie Couric's new online cooking show, <em>Full Plate</em>, to cook up delicious and healthy recipes for busy people with a lot on their plate.
                </p>
                <div class="hero-intro__cta-buttons">
                    <a class="btn button-primary" href="#" title="Watch Episodes" data-scroll=".featured-recipes">Watch Episodes</a>
                    <a class="btn button-link" href="#" data-scroll=".three-up-grid">View More Recipes</a>
                </div>
                <a class="btn button-secondary" href="/collections/all/">Shop Hurom</a>
                <span class="hero-intro__arrow" data-scroll=".three-up-intro"></span>
            </div>
        </div>
    </div>
</section>
