{% assign metafields = page.metafields.accentuate %}
{% assign style = hero_style %}

{% case style %}
	{% when 'cold-press' %}
		<section class="page-hero is-left">
			<div class="page-hero__container is-left container-xl">
				<div class="page-hero__title is-left">
					<h1 class="__head">{{ hero_head }}</h1>
					<p class="__lead">{{ hero_lead }}</p>
					<div class="page-hero__newsletter" id="page-hero-om">
            {% case settings.country %}
              {% when 'US' %}
                <div id="om-qowngmmqhyjbj2lo-holder"></div>
              {% when 'CA' %}
                <div id="om-h3qjbu1rlqg0f7ananfw-holder"></div>
            {% endcase %}
					</div>
				</div>
        <div class="page-hero__featured is-slideshow is-left" data-module="carousel">
        	<img class="__slide js-image is-active"
            src="{{ 'facebook-hero-juicer-1.jpg' | asset_url }}"
            alt="Shop Hurom H-AA Slow Juicer">
        	<img class="__slide js-image"
            src="{{ 'facebook-hero-juicer-2.jpg' | asset_url }}"
            alt="Shop Hurom HZ Slow Juicer">
        	<img class="__slide js-image"
            src="{{ 'facebook-hero-juicer-3.jpg' | asset_url }}"
            alt="Shop Hurom HH Elite Slow Juicer">
        </div>
			</div>
		</section>
	{% when 'custom' %}
    {% if metafields['hero_btn_link'] != blank %}
    	{% for collection in collections %}
			{% if collection.handle == metafields['hero_btn_link'] %}
				{% assign url = collection.url %}
				{% break %}
			{% endif %}
		{% endfor %}
    {% else %}
      {% assign url = '#content' %}
    {% endif %}
		<section class="page-hero theme-flexible-landing is-left" style="background-image:url({{ metafields['hero_bg_img'] }});">
  		<div class="page-hero__image-mobile" style="background-image:url( {{ metafields['hero_bg_img'] }} );" ></div>
			<div class="page-hero__container is-left container-xl">
        <div class="page-hero__title is-left">
          <img class="__sup-img"
            src="{{ metafields['hero_sup_img'] }}"
            alt="">
  				{%- if metafields['hero_title_text'] != blank -%}
					  <h1 class="__head">
              {{- metafields['hero_title_text'] -}}
            </h1>
				  {%- endif -%}

					{%- if metafields['hero_lead_text'] != blank -%}
						<div class="__lead">
              {{- metafields['hero_lead_text'] -}}
            </div>
					{%- endif -%}

					{%- if metafields['hero_btn_newsletter_option'] == 'newsletter' -%}
						<div class="page-hero__newsletter" id="page-hero-om">
							<div id="om-{{ metafields['om_id'] }}-holder"></div>
						</div>
					{%- elsif metafields['hero_btn_newsletter_option'] == 'button' -%}
  					<a class="__button btn btn-overlay"
              style="color:{{- metafields['btn_color'] -}};background-color:{{- metafields['btn_bg_color'] -}};"
              href="{{ url }}"
              onClick="ga('send', 'event', 'Home Page CTAs', 'Click: Hero', 'Referrer: {{ page_title }}')">
  						<div>
                {{- metafields['hero_btn_text'] -}}
              </div>
  					</a>
  				{%- endif -%}
				</div>
			</div>
		</section>
	{% when 'why-hurom' %}
		<section class="page-hero theme-why-hurom is-left">
			<div class="page-hero__container is-left container-xl">
				<div class="page-hero__title is-left">
					<i class="__icon icon">
            {%- include 'icon' with 'icon-rocket' -%}
          </i>
					<h1 class="__head">
            We’re on a mission to create the best appliances to enhance & simplify your life.
          </h1>
				</div>
				<div class="page-hero__featured is-left">
				</div>
			</div>
		</section>
{% endcase %}

{% assign style = false %}
{% assign hero_head = false %}
{% assign hero_lead = false %}
