{%- assign featured_image_src = featured_image_src | default: nil -%}
{%- assign title = title | default: nil -%}
{%- assign url = url | default: nil -%}
{%- assign link_click_handler = link_click_handler | default: nil -%}
{%- assign is_vue = is_vue | default: nil -%}
{%- assign attributes = attributes | default: nil -%}
{%- assign variants = variants | default: nil -%}
{%- assign content_for_footer = content_for_footer | default: nil -%}
{%- assign options = options | default: nil -%}
{%- assign class = class | default: nil -%}

<div
  class="plp-parts-product-card {{ class }}"
  {%- if attributes != blank -%}{{- attributes -}}{%- endif -%}
  {%- if is_vue -%}
    is="plp-parts-product-card"
    inline-template
    {% if featured_image_src != blank %}:featured-image-src="{{- featured_image_src -}}"{% endif %}
    {% if title != blank %}:title="{{- title -}}"{% endif %}
    {% if url != blank %}:url="{{- url -}}"{% endif %}
    {% if handle != blank %}:handle="{{- handle -}}"{% endif %}
    {% if variants != blank %}:variants="{{- variants -}}"{% endif %}
    {% if options != blank %}:options="{{- options -}}"{% endif %}
  {%- endif -%}
>

  {%- comment -%}Vue component element begins{%- endcomment -%}
  {%- if is_vue -%}<div>{%- endif -%}

  <a
    class="plp-parts-product-card__link"
    {%- if is_vue %}
      :href="selectedVariantUrl || url"
    {% else %}
      href="{{- url -}}"
    {% endif -%}
    {%- if link_click_handler != blank -%}
      @click="{{- link_click_handler -}}"
    {%- endif -%}
  >
    <div class="plp-parts-product-card__ratio ratio">
      <img
        is="vue-image"
        class="plp-parts-product-card__image fit-contain"
        {%- if is_vue %}
          :src="selectedVariantImageSrc || featuredImageSrc"
        {% else %}
          src="{{- featured_image_src -}}"
        {% endif -%}
        alt="{{- title -}}"
        :loader="false"
        :spinner="false"
      />
    </div>

    <span class="plp-parts-product-card__title h4">
      {%- if is_vue -%}
        ${title}
      {%- else -%}
        {{- title -}}
      {%- endif -%}
    </span>

    {%- if is_vue -%}
      <span
        v-if="variants"
        class="plp-parts-product-card__price p1"
      >
        ${selectedVariantPrice | currency}
      </span>
    {%- endif -%}
  </a>

  {%- if is_vue -%}
    <template v-if="variants">
      <div
        v-if="colorOption"
        class="plp-parts-product-card__colors"
      >
        <a
          v-for="value in colorOption.values"
          :key="value"
          class="plp-parts-product-card__color product-item__color"
          :class="[{ 'is-active': value === selectedVariantColor }, 'is-' + handleize(value)]"
          :style="{ background: 'url(' + colorSwatchImage(value) + ')' }"
          @click.prevent="changeVariant(value)"
          :href="colorVariantUrl(value)"
        >
          <i class="sr-only">${value}</i>
        </a>
      </div>

      <span class="error" v-if="error" v-html="error"></span>
      <button
        :disabled="!selectedVariantId || soldOut"
        class="plp-parts-product-card__button btn"
        :class="{'is-transparent': isAddedToCart}"
        @click.prevent="addToCart"
      >
        <template v-if="soldOut">
          {{- 'products.product.sold_out' | t -}}
        </template>
        <template v-else-if="isAddedToCart">
          {{- 'products.product.added_to_cart' | t -}}
        </template>
        <template v-else>
          {{- 'products.product.add_to_cart' | t -}}
        </template>
      </button>
    </template>
  {%- endif -%}

  {%- comment -%}Vue component element ends{%- endcomment -%}
  {%- if is_vue -%}</div>{%- endif -%}
</div>
