<!-- /snippets/modules/product-description.liquid -->

<section id="product-description" class="product-description {{ classes }} {% if product.type contains 'Part' %} product-description--part{% endif %}">
    <div class="product-description__container container-l">
      	<div class="product-overview">
            {% include 'product-description-tabs' %}
        </div>
      {% if product.type contains 'Part' %}
      <div class="product-more">
          <div class="product-best frame-white">
              <div class="product-best__holder">
                  <h3 class="product-best__head">Make the best juice at home with Hurom.</h3>
                  <a class="product-best__link link-s" href="/pages/why-hurom" onClick="ga('send', 'event', 'Product Page CTAs', 'Click: Sidebar - Why Hurom', 'Referrer: {{ page_title }}')">Learn More</a>
              </div>
          </div>
      </div>
      {% endif %}
    </div>
</section>
<section class="product-modal">
    <div class="product-modal__container container-s">
        <i class="product-modal__icon icon">
          {%- include 'icon' with 'icon-close-black' -%}
        </i>
        <h2 class="product-inside__head">Inside the Box</h2>
        <ul class="product-modal__list">
            {% for item in product.metafields.inside_labels %}
                {% assign img_key = 'img_' | append: forloop.index %}
                {% assign label_key = 'label_' | append: forloop.index %}
                <li class="product-modal__item">
                    <div class="product-modal__frame">
                        <img class="product-modal__image" src="{{ product.metafields.inside_images[img_key] }}" alt="{{ product.metafields.inside_labels[label_key] }}">
                    </div>
                    <h3 class="product-modal__title">{{ product.metafields.inside_labels[label_key] }}</h3>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
<script>
    function openInsideModal() {
        $('.product-modal').addClass('product-modal--active');
        $('body').css('overflow', 'hidden');
    }

    function closeInsideModal() {
        $('.product-modal').removeClass('product-modal--active');
        $('body').css('overflow', 'auto');
    }

    // prevent container click from propagating to modal
    $('.product-modal__container').on('click', function(e) {
        e.stopPropagation();
    });

    // close modal on 'X' click or darkened area click
    $('.product-modal__icon.ico-close-black').on('click', closeInsideModal);
    $('.product-modal').on('click', closeInsideModal);
</script>
