<!-- /templates/snippets/recipe-carousel.liquid -->

{% assign data = data | default: false %}
{% assign size = size | default: false %}
{% assign id_recipe = data | append: '-recipe' %}
{% assign data_recipe = 'recipe' | append: '-' | append: data %}

<section id="{{ id_recipe }}" class="recipe-carousel section" data-module="recipe-carousel">
    <div class="__container container-ml">
		{% if data %}
			{% include data_recipe %}
	    	<div class="recipe-carousel__title">
	    		<h2 class="__head h1">{{ head }}</h2>
	    		<p class="__lead">{{ lead }}</p>
	    	</div>
	    	<ul class="recipe-carousel__nav js-nav">
	    		{% for recipe in recipes %}
	    			{% assign nav_index = forloop.index | minus: 1 %}
	    			{% assign nav_color = colors[nav_index] %}

	    			<li class="__recipe {% if forloop.index == 1 %}is-active{% endif %}" onClick="ga('send', 'event', 'Recipe Landing Page', 'Clicked {{ recipe }} Recipe', 'Referrer: Juice Recipes')">
	    				<i class="__juice recipe-{{ nav_color }} is-regular b-lazy" data-src="{{ 'recipe-color-thumbnails.jpg' | asset_url }}"></i>
	    				<span class="__label">{{ recipe }}</span>
	    			</li>
	    		{% endfor %}
	    	</ul>
	    	<div class="recipe-carousel__holder js-carousel">
		    	{% for recipe in recipes %}
	    			{% assign recipe_index = forloop.index | minus: 1 %}
	    			{% assign cur_image = colors[recipe_index] | prepend: 'recipe-color-' | append: '.jpg' %}
		    		<div class="recipe-slide js-slide" itemscope itemtype="http://schema.org/Recipe">
		    			{% assign cur_description = descriptions[recipe_index] %}
		    			{% assign cur_color = colors[recipe_index] %}
		    			{% assign cur_ingredients = ingredients[recipe_index] | split: '[*]' %}
		    			{% assign cur_tags = ingredients_tags[recipe_index] | split: '[*]' %}
		    			{% assign cur_instructions = instructions[recipe_index] | split: '[*]' %}
		    			<div class="recipe-accordion js-tab" onClick="ga('send', 'event', 'Recipe Landing Page', 'Clicked {{ recipe }} Recipe', 'Referrer: Juice Recipes')">
		    				<i class="__juice recipe-{{ cur_color }} is-small b-lazy" data-src="{{ 'recipe-color-thumbnails.jpg' | asset_url }}"></i>
		    				<span class="__label">{{ recipe }}</span>
		    			</div>
		    			<div class="__content">
		    				<div class="recipe-slide__title b-lazy" data-src="{{ cur_image| asset_url }}">
			    				<h3 class="__head h2 recipe-{{ cur_color }} is-title b-lazy" data-src="{{ 'recipe-color-thumbnails.jpg' | asset_url }}" itemprop="name">
					    			{{ recipe }}
					    		</h3>
			    				<p class="__description" itemprop="description">{{ cur_description }}</p>
			    			</div>
			    			<div class="recipe-slide__ingredients">
				  				<h4 class="__head h4">Ingredients</h4>
				  				<ul class="__list">
					  				{% for ingredient in cur_ingredients %}
					  					{% assign ingredient_index = forloop.index | minus: 1 %}
					  					{% assign ingredient_tag = cur_tags[ingredient_index] | strip | handleize %}
					  					<li class="__item">
					  						<i class="__icon ico-ingredient ingredient-{{ ingredient_tag }} b-lazy" data-src="{{ 'ico-ingredients-sprite.svg' | asset_url }}"></i>
					  						<span class="__label" itemprop="recipeIngredient">{{ ingredient }}</span>
					  					</li>
					  				{% endfor %}
				  				</ul>
				  			</div>
				  			<div class="recipe-slide__instructions">
				  				<h4 class="__head h4">Instructions</h4>
				  				<ol class="__list" itemprop="recipeInstructions">
					  				{% for instruction in cur_instructions %}
					  					<li class="__item">
					  						<span class="__label" itemprop="step">{{ instruction }}</span>
					  					</li>
					  				{% endfor %}
				  				</ol>
				  			</div>
				  		</div>
              {% case settings['country'] %}
                {% when 'US' %}
                  {%- case recipe -%}
                    {%- when 'Blueberry Smoothie' -%}
                      <meta itemprop="image" content="https:{{- 'blueberry-smoothie.jpg' | file_url -}}"></meta>
                    {%- when 'Raspberry Mango Pineapple' -%}
                      <meta itemprop="image" content="https:{{- 'raspberry-mango-pineapple.jpg' | file_url -}}"></meta>
                    {%- when 'Clever Nuts' -%}
                      <meta itemprop="image" content="https:{{- 'clever-nuts.jpg' | file_url -}}"></meta>
                    {%- when 'Pomegranate, Orange, & Pineapple' -%}
                      <meta itemprop="image" content="https:{{- 'pomegranate-orange-pineapple.jpg' | file_url -}}"></meta>
                    {%- else -%}
                      <meta itemprop="image" content="https:{{ cur_image | asset_url }}"></meta>
                  {%- endcase -%}
                {% when 'CA' %}
                  <meta itemprop="image" content="https:{{ cur_image | asset_url }}"></meta>
              {% endcase %}
				  		<div class="__featured is-{{ size }} b-lazy" data-src="{{ cur_image | asset_url }}"></div>
		    		</div>
		    	{% endfor %}
		    </div>
		{% else %}
			<p class="align-c">Oop! Seems like some informations are missing.</p>
		{% endif %}
    </div>
</section>

{% assign data = false %}
{% assign size = false %}
