{%- assign mod_title = mod_title | default: blank -%}
{%- assign mod_text = mod_text | default: blank -%}
{%- assign mod_url = mod_url | default: blank -%}
{%- assign mod_class = mod_class | default: blank -%}
{%- assign mod_attr = mod_attr | default: blank -%}
{%- assign mod_tile_json = mod_tile_json | default: blank -%}

{%- capture mod_css -%}
  tile-card {{ mod_class }}
{%- endcapture %}

<div
  class="{{- mod_css | strip -}}"
  {% if mod_tile_json != blank %}article="{{ mod_tile_json | url_encode }}" decode="true"{% endif %}
  {% if mod_attr %}{{ mod_attr }}{% endif %}
  is="tile-card"
  inline-template>
  <div>
    <a class="tile-card__wrapper" href="{{ mod_url }}" :href="link">
      <div class="tile-card__ratio ratio">
        <div
         is="vue-image"
         css="fit-cover tile-card__image"
         :src="imageSrc"
         alt="">
        </div>
      </div>

      <div class="tile-card__content">
        <h3 class="tile-card__title label" v-text="title">
          {{- mod_title -}}
        </h3>

        <p class="tile-card__text" v-text="article.category">
          {{- mod_text -}}
        </p>
      </div>
    </a>
  </div>
</div>

{%- assign mod_title = nil -%}
{%- assign mod_text = nil -%}
{%- assign mod_url = nil -%}
{%- assign mod_class = nil -%}
{%- assign mod_attr = nil -%}
{%- assign mod_css = nil -%}
{%- assign mod_tile_json = nil -%}
