{%- assign mod_class = mod_class | default: blank -%}
{%- assign mod_title = mod_title | default: blank -%}
{%- assign mod_cta_text = mod_cta_text | default: blank -%}
{%- assign mod_cta_url = mod_cta_url | default: blank -%}
{%- assign mod_cta_background_color = mod_cta_background_color | default: blank -%}
{%- assign mod_cta_text_color = mod_cta_text_color | default: blank -%}
{%- assign mod_shop_text = mod_shop_text | default: blank -%}
{%- assign mod_shop_link_text = mod_shop_link_text | default: blank -%}
{%- assign mod_shop_link_url = mod_shop_link_url | default: blank -%}
{%- assign mod_enable_overlay = mod_enable_overlay | default: blank -%}
{%- assign mod_text_color = mod_text_color | default: blank -%}
{%- assign mod_background = mod_background | default: blank -%}
{%- assign mod_image_src = mod_image_src | default: false -%}
{%- assign mod_image_src_media = mod_image_src_media | default: false -%}
{%- assign mod_image_text = mod_image_text | default: blank -%}
{%- assign mod_video_url = mod_video_url | default: blank -%}
{%- assign mod_video_fallback_text = mod_video_fallback_text | default: blank -%}
{%- assign mod_video_fallback_src = mod_video_fallback_src | default: false -%}
{%- assign mod_video_fallback_src_media = mod_video_fallback_src_media | default: false -%}

{%- capture mod_css -%}
  hero hero--{{ mod_text_color }} {% if mod_enable_overlay %}hero--overlay{% endif %} {{ mod_class }}
{%- endcapture -%}

<style>
  .btn.hero__cta,
  .hero__link:before {
    background-color: {{ mod_cta_background_color }};
    color: {{ mod_cta_text_color }};
  }

  .no-touch .btn.hero__cta:hover,
  .no-touch .btn.hero__cta:focus {
    background-color: {{ mod_cta_background_color | color_darken: 15 }};
  }
</style>

{%- if mod_title != blank -%}
  <section class="{{- mod_css -}}">
    <div class="hero__featured ratio">
      {%- if mod_background == 'image' -%}
        {%- include 'image',
          mod_class: 'hero__image',
          mod_loader: false,
          mod_src: mod_image_src,
          mod_src_media: mod_image_src_media,
          mod_text: mod_image_text -%}
      {%- else -%}
        {%- include 'video' with mod_video_url,
          mod_class: 'hero__video',
          mod_fallback_src: mod_video_fallback_src,
          mod_fallback_src_media: mod_video_fallback_src_media,
          mod_fallback_text: mod_video_fallback_text -%}
      {%- endif -%}
    </div>

    {%- if mod_title != blank -%}
      <div class="hero__container container-sp">
        <h1 class="hero__title hurom-h1">
          {{- mod_title -}}
        </h1>

        {%- if mod_cta_text != blank -%}
          <div class="hero__actions">
            <a class="hero__cta btn" href="{{ mod_cta_url }}" title="{{- mod_cta_text -}}">
              {{- mod_cta_text -}}
            </a>

            {%- if mod_shop_text != blank -%}
              <p class="hero__text">
                {{- mod_shop_text -}}

                {%- if mod_shop_link_text != blank -%}
                  <a class="hero__link text-link" href="{{ mod_shop_link_url }}">
                    {{- mod_shop_link_text -}}
                  </a>
                {%- endif -%}
              </p>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
  </section>
{%- endif -%}

{%- assign mod_css = nil -%}
{%- assign mod_image_src = nil -%}
{%- assign mod_image_src_media = nil -%}
{%- assign mod_video_fallback_src = nil -%}
{%- assign mod_video_fallback_src_media = nil -%}
{%- assign mod_class = nil -%}
{%- assign mod_title = nil -%}
{%- assign mod_cta_text = nil -%}
{%- assign mod_cta_url = nil -%}
{%- assign mod_cta_background_color = nil -%}
{%- assign mod_cta_text_color = nil -%}
{%- assign mod_shop_text = nil -%}
{%- assign mod_shop_link_text = nil -%}
{%- assign mod_shop_link_url = nil -%}
{%- assign mod_enable_overlay = nil -%}
{%- assign mod_text_color = nil -%}
{%- assign mod_background = nil -%}
{%- assign mod_video_url = nil -%}
