<!-- /sections/product-design.liquid -->
{% assign metafields = product.metafields.accentuate %}

{% capture title %}
  {% if metafields.design_title %}
    {{- metafields.design_title -}}
  {% else %}
    {{- section.settings.title -}}
  {% endif %}
{% endcapture %}
{% capture block_1_icon %}
  {% if metafields.design_block_1_icon_custom %}
    {{- metafields.design_block_1_icon_custom -}}
  {% elsif metafields.design_block_1_icon %}
    {{- metafields.design_block_1_icon | asset_url -}}
  {% else %}
    {{- section.settings.block_1_icon | asset_url -}}
  {% endif %}
{% endcapture %}
{% capture block_1_sub %}
  {% if metafields.design_block_1_sub %}
    {{- metafields.design_block_1_sub -}}
  {% else %}
    {{- section.settings.block_1_sub -}}
  {% endif %}
{% endcapture %}
{% capture block_1_label %}
  {% if metafields.design_block_1_label %}
    {{- metafields.design_block_1_label -}}
  {% else %}
    {{- section.settings.block_1_label -}}
  {% endif %}
{% endcapture %}
{% capture block_2_icon %}
  {% if metafields.design_block_2_icon_custom %}
    {{- metafields.design_block_2_icon_custom -}}
  {% elsif metafields.design_block_2_icon %}
    {{- metafields.design_block_2_icon | asset_url -}}
  {% else %}
    {{- section.settings.block_2_icon | asset_url -}}
  {% endif %}
{% endcapture %}
{% capture block_2_sub %}
  {% if metafields.design_block_2_sub %}
    {{- metafields.design_block_2_sub -}}
  {% else %}
    {{- section.settings.block_2_sub -}}
  {% endif %}
{% endcapture %}
{% capture block_2_label %}
  {% if metafields.design_block_2_label %}
    {{- metafields.design_block_2_label -}}
  {% else %}
    {{- section.settings.block_2_label -}}
  {% endif %}
{% endcapture %}
{% capture block_3_icon %}
  {% if metafields.design_block_3_icon_custom %}
    {{- metafields.design_block_3_icon_custom -}}
  {% elsif metafields.design_block_3_icon %}
    {{- metafields.design_block_3_icon | asset_url -}}
  {% else %}
    {{- section.settings.block_3_icon | asset_url -}}
  {% endif %}
{% endcapture %}
{% capture block_3_sub %}
  {% if metafields.design_block_3_sub %}
    {{- metafields.design_block_3_sub -}}
  {% else %}
    {{- section.settings.block_3_sub -}}
  {% endif %}
{% endcapture %}
{% capture block_3_label %}
  {% if metafields.design_block_3_label %}
    {{- metafields.design_block_3_label -}}
  {% else %}
    {{- section.settings.block_3_label -}}
  {% endif %}
{% endcapture %}
{% capture block_4_icon %}
  {% if metafields.design_block_4_icon_custom %}
    {{- metafields.design_block_4_icon_custom -}}
  {% elsif metafields.design_block_4_icon %}
    {{- metafields.design_block_4_icon | asset_url -}}
  {% else %}
    {{- section.settings.block_4_icon | asset_url -}}
  {% endif %}
{% endcapture %}
{% capture block_4_sub %}
  {% if metafields.design_block_4_sub %}
    {{- metafields.design_block_4_sub -}}
  {% else %}
    {{- section.settings.block_4_sub -}}
  {% endif %}
{% endcapture %}
{% capture block_4_label %}
  {% if metafields.design_block_4_label %}
    {{- metafields.design_block_4_label -}}
  {% else %}
    {{- section.settings.block_4_label -}}
  {% endif %}
{% endcapture %}

<section class="section-bottom product-design">
    <div class="product-design__container container">
        <div class="product-design__title">
            <h2 class="product-design__head">{{ title }}</h2>
        </div>
        <div class="product-design__holder">
            <div class="product-design__block">
                <i class="product-design__icon" style="background: url({{ block_1_icon }}) no-repeat scroll center / contain transparent;"></i>
                <p class="product-design__sub">{{ block_1_sub }}</p>
                <p class="product-design__label">{{ block_1_label }}</p>
            </div>
            <div class="product-design__block">
                <i class="product-design__icon" style="background: url({{ block_2_icon }}) no-repeat scroll center / contain transparent;"></i>
                <p class="product-design__sub">{{ block_2_sub }}</p>
                <p class="product-design__label">{{ block_2_label }}</p>
            </div>

            {% unless product.metafields.accentuate.hide_design_block_3 %}
                <div class="product-design__block">
                    <i class="product-design__icon" style="background: url({{ block_3_icon }}) no-repeat scroll center / contain transparent;"></i>
                    <p class="product-design__sub">{{ block_3_sub }}</p>
                    <p class="product-design__label">{{ block_3_label }}</p>
                </div>
            {% endunless %}

            {% unless product.metafields.accentuate.hide_design_block_4 %}
                <div class="product-design__block">
                    <i class="product-design__icon" style="background: url({{ block_4_icon }}) no-repeat scroll center / contain transparent;"></i>
                    <p class="product-design__sub">{{ block_4_sub }}</p>
                    <p class="product-design__label">{{ block_4_label }}</p>
                </div>
            {% endunless %}
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Design Section",
        "settings": [ {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Designed for You"
        }, {
            "id": "block_1_icon",
            "type": "select",
            "label": "Block 1 Icon",
            "options": [
              { "value": "ico-bpa.svg", "label": "ico-bpa.svg"},
              { "value": "ico-clean.svg", "label": "ico-clean.svg"},
              { "value": "ico-earth.svg", "label": "ico-earth.svg"},
              { "value": "ico-fruits.svg", "label": "ico-fruits.svg"},
              { "value": "ico-juice.svg", "label": "ico-juice.svg"},
              { "value": "ico-light.svg", "label": "ico-light.svg"},
              { "value": "ico-planet.svg", "label": "ico-planet.svg"},
              { "value": "ico-planet-radiate.svg", "label": "ico-planet-radiate.svg"},
              { "value": "ico-pulp.svg", "label": "ico-pulp.svg"},
              { "value": "ico-recipe-adventurous.svg", "label": "ico-recipe-adventurous.svg"},
              { "value": "ico-recipe-detox.svg", "label": "ico-recipe-detox.svg"},
              { "value": "ico-recipe-immunity.svg", "label": "ico-recipe-immunity.svg"},
              { "value": "ico-recipe-low-calorie.svg", "label": "ico-recipe-low-calorie.svg"},
              { "value": "ico-recipe-rejuvenate.svg", "label": "ico-recipe-rejuvenate.svg"},
              { "value": "ico-rocket.svg", "label": "ico-rocket.svg"},
              { "value": "ico-safe.svg", "label": "ico-safe.svg"},
              { "value": "ico-star.svg", "label": "ico-star.svg"},
              { "value": "ico-time.svg", "label": "ico-time.svg"},
              { "value": "ico-versatile.svg", "label": "ico-versatile.svg"}
            ]
        }, {
            "id": "block_1_sub",
            "type": "text",
            "label": "Block 1 Subtitle",
            "default": "Quiet & Easy to Clean"
        }, {
            "id": "block_1_label",
            "type": "textarea",
            "label": "Block 1 Label",
            "default": "Our quiet motor lets you start off the morning without causing a stir and cleaning up takes just a couple minutes."
        }, {
            "id": "block_2_icon",
            "type": "select",
            "label": "Block 2 Icon",
            "options": [
              { "value": "ico-bpa.svg", "label": "ico-bpa.svg"},
              { "value": "ico-clean.svg", "label": "ico-clean.svg"},
              { "value": "ico-earth.svg", "label": "ico-earth.svg"},
              { "value": "ico-fruits.svg", "label": "ico-fruits.svg"},
              { "value": "ico-juice.svg", "label": "ico-juice.svg"},
              { "value": "ico-light.svg", "label": "ico-light.svg"},
              { "value": "ico-planet.svg", "label": "ico-planet.svg"},
              { "value": "ico-planet-radiate.svg", "label": "ico-planet-radiate.svg"},
              { "value": "ico-pulp.svg", "label": "ico-pulp.svg"},
              { "value": "ico-recipe-adventurous.svg", "label": "ico-recipe-adventurous.svg"},
              { "value": "ico-recipe-detox.svg", "label": "ico-recipe-detox.svg"},
              { "value": "ico-recipe-immunity.svg", "label": "ico-recipe-immunity.svg"},
              { "value": "ico-recipe-low-calorie.svg", "label": "ico-recipe-low-calorie.svg"},
              { "value": "ico-recipe-rejuvenate.svg", "label": "ico-recipe-rejuvenate.svg"},
              { "value": "ico-rocket.svg", "label": "ico-rocket.svg"},
              { "value": "ico-safe.svg", "label": "ico-safe.svg"},
              { "value": "ico-star.svg", "label": "ico-star.svg"},
              { "value": "ico-time.svg", "label": "ico-time.svg"},
              { "value": "ico-versatile.svg", "label": "ico-versatile.svg"}
            ]
        }, {
            "id": "block_2_sub",
            "type": "text",
            "label": "Block 2 Subtitle",
            "default": "Juice Safely"
        }, {
            "id": "block_2_label",
            "type": "textarea",
            "label": "Block 2 Label",
            "default": "Hurom juicers are 100% BPA free and come without any blades or sharp parts, making it safe for your entire family."
        }, {
            "id": "block_3_icon",
            "type": "select",
            "label": "Block 3 Icon",
            "options": [
              { "value": "ico-bpa.svg", "label": "ico-bpa.svg"},
              { "value": "ico-clean.svg", "label": "ico-clean.svg"},
              { "value": "ico-earth.svg", "label": "ico-earth.svg"},
              { "value": "ico-fruits.svg", "label": "ico-fruits.svg"},
              { "value": "ico-juice.svg", "label": "ico-juice.svg"},
              { "value": "ico-light.svg", "label": "ico-light.svg"},
              { "value": "ico-planet.svg", "label": "ico-planet.svg"},
              { "value": "ico-planet-radiate.svg", "label": "ico-planet-radiate.svg"},
              { "value": "ico-pulp.svg", "label": "ico-pulp.svg"},
              { "value": "ico-recipe-adventurous.svg", "label": "ico-recipe-adventurous.svg"},
              { "value": "ico-recipe-detox.svg", "label": "ico-recipe-detox.svg"},
              { "value": "ico-recipe-immunity.svg", "label": "ico-recipe-immunity.svg"},
              { "value": "ico-recipe-low-calorie.svg", "label": "ico-recipe-low-calorie.svg"},
              { "value": "ico-recipe-rejuvenate.svg", "label": "ico-recipe-rejuvenate.svg"},
              { "value": "ico-rocket.svg", "label": "ico-rocket.svg"},
              { "value": "ico-safe.svg", "label": "ico-safe.svg"},
              { "value": "ico-star.svg", "label": "ico-star.svg"},
              { "value": "ico-time.svg", "label": "ico-time.svg"},
              { "value": "ico-versatile.svg", "label": "ico-versatile.svg"}
            ]
        }, {
            "id": "block_3_sub",
            "type": "text",
            "label": "Block 3 Subtitle",
            "default": "Deliciously Unprocessed"
        }, {
            "id": "block_3_label",
            "type": "textarea",
            "label": "Block 3 Label",
            "default": "Slow juicing yields more juice from a wider variety of ingredients for great tasting juice that lasts up to 72 hours."
        }, {
            "id": "block_4_icon",
            "type": "select",
            "label": "Block 4 Icon",
            "options": [
              { "value": "ico-bpa.svg", "label": "ico-bpa.svg"},
              { "value": "ico-clean.svg", "label": "ico-clean.svg"},
              { "value": "ico-earth.svg", "label": "ico-earth.svg"},
              { "value": "ico-fruits.svg", "label": "ico-fruits.svg"},
              { "value": "ico-juice.svg", "label": "ico-juice.svg"},
              { "value": "ico-light.svg", "label": "ico-light.svg"},
              { "value": "ico-planet.svg", "label": "ico-planet.svg"},
              { "value": "ico-planet-radiate.svg", "label": "ico-planet-radiate.svg"},
              { "value": "ico-pulp.svg", "label": "ico-pulp.svg"},
              { "value": "ico-recipe-adventurous.svg", "label": "ico-recipe-adventurous.svg"},
              { "value": "ico-recipe-detox.svg", "label": "ico-recipe-detox.svg"},
              { "value": "ico-recipe-immunity.svg", "label": "ico-recipe-immunity.svg"},
              { "value": "ico-recipe-low-calorie.svg", "label": "ico-recipe-low-calorie.svg"},
              { "value": "ico-recipe-rejuvenate.svg", "label": "ico-recipe-rejuvenate.svg"},
              { "value": "ico-rocket.svg", "label": "ico-rocket.svg"},
              { "value": "ico-safe.svg", "label": "ico-safe.svg"},
              { "value": "ico-star.svg", "label": "ico-star.svg"},
              { "value": "ico-time.svg", "label": "ico-time.svg"},
              { "value": "ico-versatile.svg", "label": "ico-versatile.svg"}
            ]
        }, {
            "id": "block_4_sub",
            "type": "text",
            "label": "Block 4 Subtitle",
            "default": "More Nutrients, Minimal Oxidation"
        }, {
            "id": "block_4_label",
            "type": "textarea",
            "label": "Block 4 Label",
            "default": "Our patented auger’s natural motion minimizes damage to ingredients, keeping natural taste and nutrition intact."
        } ]
    }
{% endschema %}
