<!-- /snippets/modules/footer-cta.liquid -->

{% case template %}
  {% when 'list-collections' %}
    {% assign style = 'default' %}
    {% assign link = '/pages/compare-hurom-juicers' %}
    {% assign title = 'Which juicer is the perfect model for you?' %}
    {% assign cta = 'Compare Hurom Juicers' %}
  {% when 'product' %}
    {% assign style = 'align' %}
    {% assign align = 'right' %}
    {% assign link = '/collections' %}
    {% assign title = 'Start Making the Best Juice' %}
    {% assign cta = 'Explore All Hurom Juicers' %}
  {% when 'product.new' %}
    {% assign style = 'default' %}
    {% assign link = '/pages/compare-hurom-juicers' %}
    {% assign title = "Not sure which Juicer's the one for you?" %}
    {% assign cta_class = 'btn' %}
    {% assign cta = 'Compare' %}
  {% when 'product.parts' %}
    {% assign style = 'middle' %}
    {% assign link = '/collections/parts' %}
    {% assign title = 'Not the part you’re looking for?' %}
    {% assign cta = 'Go back to Parts' %}
  {% else %}
    {% assign style = 'default' %}
    {% assign link = '/pages/compare-hurom-juicers' %}
    {% assign title = 'Which model will make your perfect juice?' %}
    {% assign cta = 'Compare Hurom Juicers' %}
{% endcase %}

{%- capture mod_css_container -%}
  footer-cta__container footer-cta__container--{{ style }} {% if style contains 'default' %}container{% else %}container-l{% endif %}
{%- endcapture -%}

{%- capture mod_css_title -%}
  footer-cta__title footer-cta__title--{{ style }} {% if style contains 'align' %}footer-cta__title--{{ align }}{% endif %}
{%- endcapture -%}

{% assign cta_class = cta_class | default: 'btn-s' %}

<footer
  class="footer-cta footer-cta--{{ style }}"
  data-module="footer-cta"
  {% unless template contains 'product' or template contains 'index' %}
    data-page-load
  {% endunless %}>
  <div
    class="{{- mod_css_container -}}"
    {% if style contains 'default' %}
      style="background-image:url({{ 'bg-footer-cta-default.jpg' | asset_url }});"
    {% elsif style contains 'middle' %}
      style="background-image:url({{ 'back-to-parts-bg.jpg' | asset_url }});"
    {% endif %}
  >
    <div class="{{- mod_css_title -}}" data-view="{% if align %}fadein-right{% endif %}{% if style contains 'default' %}fadein-up{% endif %}">
      <h4 class="footer-cta__head">{{ title }}</h4>
      <a
        class="footer-cta__link {{ cta_class }}"
        v-if="partsModel === ''"
        href="{{ link }}"
        title="{{ cta }}"
        onClick="ga('send', 'event', 'Footer CTA', 'Click: {{ link }}', 'Referrer: {{ page_title }}')"
      >
        <h5 class="footer-cta__cta hurom-label">{{ cta }}</h5>
      </a>
      <a
        v-else
        class="footer-cta__link {{ cta_class }}"
        :href="partsLink"
        title="{{ cta }}"
      >
        <h5 class="footer-cta__cta hurom-label">{{ cta }}</h5>
      </a>
    </div>
    {% if style contains 'align' or style contains 'center' %}
      <div class="footer-cta__featured footer-cta__featured--{{ style }} {% if align %}footer-cta__featured--{{ align }}{% endif %}">
        {% if align %}
          <img
            class="footer-cta__img"
            src="{{ 'bg-footer-cta-juicer.jpg' | asset_url }}"
            alt="{{ title }}"
            title="{{ title }}"
            data-view="fadein-left">
        {% else %}
          {%- assign mod_normal = 'bg-footer-cta-center.jpg' | asset_url -%}
          {%- include 'image'
            mod_class: 'footer-cta__img footer-cta__img--center',
            mod_fit: 'contain',
            mod_normal: mod_normal,
            mod_alt: title -%}
        {% endif %}
      </div>
    {% endif %}
  </div>
</footer>
