<!-- /templates/page.why-hurom.liquid -->

<div class="why-hurom page">
    {% include 'page-hero', hero_style: 'why-hurom' %}
    <section class="wh-intro">
      <div class="wh-intro__container container">
        <div class="wh-intro__title">
        <h2 class="wh-intro__head">Why Hurom</h2>
          <p class="wh-intro__lead">For over 40 years, we’ve been obsessed with juice. How can it taste better? How can it become more nutritious? How can it be easier to make? With a <a href="https://www.hurom.com/pages/best-cold-press-juicer" rel="noopener noreferrer" target="_blank">Hurom juicer</a>, you get the culmination of 40 years relentless research and development in the pursuit of juice perfection.</p>
        </div>
      </div>
    </section>

    <hr data-view="expand-wide">

    <section class="wh-difference">
      <div class="wh-difference__container container">
        <div class="wh-difference__title">
          <h2 class="wh-difference__head">The Slow Squeeze Difference</h2>
          <p class="wh-difference__lead">Hurom’s patented Slow Squeeze Technology uses an auger to squeeze out juice (similar to how you would hand-squeeze an orange) instead of shredding fruits and vegetables with high-speed blades like other juicers and blenders. This natural motion minimizing damage to ingredients, keeping natural taste and nutrition intact.</p>
        </div>
        <div class="wh-difference__holder">
          <div class="wh-difference__block fx-2">
            <div class="wh-difference__featured">
              <img class="wh-difference__img" src="{{ 'wh-difference-left.jpg' | asset_url }}" alt="Tomato juice made by Hurom slow juicer" title="Juice by Hurom">
            </div>
            <div class="wh-difference__info">
              <a class="wh-difference__juice">Intact cellular structure from slow squeezed juice</a>
              <h3 class="wh-difference__sub">Juice by Hurom</h3>
              <p class="wh-difference__content">In this microscopic close up of Hurom-made tomato juice, you can see how the juice retains its natural color and cellular structure.</p>
            </div>
          </div>
          <div class="wh-difference__block fx-2">
            <div class="wh-difference__featured">
              <img class="wh-difference__img" src="{{ 'wh-difference-right.jpg' | asset_url }}" alt="Tomato juice made by centrifugal juicers or blenders" title="Juice by Hurom">
            </div>
            <div class="wh-difference__info">
              <a class="wh-difference__juice">Damaged cellular structure caused by high speed juicers</a>
              <h3 class="wh-difference__sub">Juice by centrifugal juicers / blenders</h3>
              <p class="wh-difference__content">Centrifugal juicers and blenders heat up and oxidize the tomato juice with high speed blades, reducing nutrients and breaking down the form and color.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="wh-cold">
      <div class="wh-cold__container container-s">
        <div class="wh-cold__title">
          <h3 class="wh-cold__head">Only the Best</h3>
          <p class="wh-cold__lead">We strive for the highest quality in everything we do. Our juicers are made of materials like ultem, tritan, and stainless steel, some of which are used to build spaceships. Unlike our competitors, we use a long-lasting AC motor that comes with a 10 year warranty. You also can expect:</p>
        </div>
        <div class="wh-cold__holder">
          <div class="wh-cold__block fx-3">
            <i class="wh-cold__icon icon">
              {%- include 'icon' with 'icon-juice' -%}
            </i>
            <p class="wh-cold__label">Higher yield, we strive to squeeze every drop of juice</p>
          </div>
          <div class="wh-cold__block fx-3">
            <i class="wh-cold__icon icon">
              {%- include 'icon' with 'icon-fruits' -%}
            </i>
            <p class="wh-cold__label">Healthy, unprocessed juice</p>
          </div>
          <div class="wh-cold__block fx-3">
            <i class="wh-cold__icon">
              {%- include 'icon' with 'icon-time' -%}
            </i>
            <p class="wh-cold__label">Breathtakingly great tasting juice that lasts up to 72 hours</p>
          </div>
        </div>
      </div>
    </section>

    <section class="wh-confidence">
      <div class="wh-confidence__container container">
        <div class="wh-confidence__title">
          <h2 class="wh-confidence__head">Versatility</h2>
          <p class="wh-confidence__lead">What do you love in your juice? Do you like sweet and savory fruits like apples and oranges? Or crisp leafy greens like kale and spinach? How about refreshing almond milk? With a Hurom juicer, you can confidently pick and choose from a wide range of ingredients.</p>
        </div>
        <div class="wh-confidence__holder">
          <div class="wh-confidence__block fx-4">
            <a class="wh-confidence__food wh-confidence__food--fruits"></a>
            <p class="wh-confidence__sub"><a href="https://www.hurom.com/pages/healthy-tasty-juice-recipes#rejuvenate-recipe" rel="noopener noreferrer" target="_blank">Fruits</a></p>
          </div>
          <div class="wh-confidence__block fx-4">
            <a class="wh-confidence__food wh-confidence__food--vegetables"></a>
            <p class="wh-confidence__sub"><a href="https://www.hurom.com/pages/healthy-tasty-juice-recipes#low-calorie-recipe" rel="noopener noreferrer" target="_blank">Vegetables</a></p>
          </div>
          <div class="wh-confidence__block fx-4">
            <a class="wh-confidence__food wh-confidence__food--nuts"></a>
            <p class="wh-confidence__sub"><a href="https://www.hurom.com/pages/healthy-tasty-juice-recipes#adventurous-recipe" rel="noopener noreferrer" target="_blank">Nuts & Seeds</a></p>
          </div>
          <div class="wh-confidence__block fx-4">
            <a class="wh-confidence__food wh-confidence__food--herbs"></a>
            <p class="wh-confidence__sub"><a href="https://www.hurom.com/pages/healthy-tasty-juice-recipes#immunity-recipe" rel="noopener noreferrer" target="_blank">Herbs & Spices</a></p>
          </div>
        </div>
      </div>
    </section>

    <hr data-view="expand-wide">

    {%- include 'wh-quote' -%}

    <section class="wh-success">
      <div class="wh-success__container container-xl">
        <div class="wh-success__block">
          <div class="wh-success__featured">
            <img class="wh-success__img" src="{{ 'wh-success-clean.jpg' | asset_url }}" alt="Hurom strainer is easily cleaned with rinsing and a brush" title="Quiet & Easy to Clean">
          </div>
          <div class="wh-success__info">
            <i class="wh-success__icon icon icon--clean">
              {%- include 'icon' with 'icon-clean' -%}
            </i>
            <h3 class="wh-success__head">Easy to Use & Clean</h3>
            <p class="wh-success__content">Our customers love using their Hurom juicers everyday. It’s because we know that the best juice is also one that’s convenient to make. Our technology has been designed to be surprisingly easy to assemble and clean.</p>
          </div>
        </div>
        <div class="wh-success__block wh-success__block--right">
          <div class="wh-success__featured wh-success__featured--right">
            <img class="wh-success__img" src="{{ 'wh-success-happy.jpg' | asset_url }}" alt="Happy customers enjoying a picnic with Hurom juice" title="1 Million+ Happy Customers">
          </div>
          <div class="wh-success__info wh-success__info--right">
            <i class="wh-success__icon icon icon--planet">
              {%- include 'icon' with 'icon-planet' -%}
            </i>
            <h3 class="wh-success__head">1 Million+ Happy Customers</h3>
            <p class="wh-success__content">Over a million customers in more than 70 countries make juice with a Hurom juicer, making Hurom the global leader. Don’t miss out!</p>
          </div>
        </div>
        <div class="wh-success__block">
          <div class="wh-success__featured">
            <img class="wh-success__img" src="{{ 'wh-success-safe.jpg' | asset_url }}" alt="Young children drinking healthy Hurom juice" title="Juice Safely">
          </div>
          <div class="wh-success__info">
            <i class="wh-success__icon icon icon--label">
              {%- include 'icon' with 'icon-label' -%}
            </i>
            <h3 class="wh-success__head">Juice Safely</h3>
            <p class="wh-success__content">We go to great lengths to ensure that our products are safe. That’s why Hurom juicers are 100% BPA free and come without any blades or sharp parts, making it safe for children to use. We also designed our juicers with narrow hoppers, so that even the smallest hands can’t fit inside.</p>
          </div>
        </div>
      </div>
    </section>

</div>
