<!-- /templates/page.facebook.liquid -->

<div class="index page">
    {% include 'page-hero', hero_style: 'summer' %}

    {% include 'block-difference' %}

    {% include 'block-quality' %}

    <section class="block-critics">
        <div class="block-critics__container container-xl">
            <div class="block-critics__holder">
                <h2 class="__head">What Critics & Customers Are Saying</h2>
                <p class="__description">"If you don’t have much experience with juicers, you might think that they’re all the same: You put in some fruit, and out comes juice. But we recently had the opportunity to sample the H-AA, Hurom’s flagship model, and if you’re in the market for a high-end juicer, this one is a game-changer.</p>
                <a class="__critics" href="#">The Daily Meal"</a>
            </div>

            <hr data-view="expand-wide">

            <div class="block-critics__holder">
                <ul class="__review">
                    <li class="__star"></li>
                    <li class="__star"></li>
                    <li class="__star"></li>
                    <li class="__star"></li>
                    <li class="__star"></li>
                </ul>
                <p class="__description">"I LOVE this juicer! It’s so easy to operate and clean that I use it EVERYDAY… sometimes 2 or 3 times a day. I’ve saved so much money (no longer buying juice from stores) and really enjoy making my own recipes. I even travel with my Hurom Juicer when visiting friends and family so I can turn them onto juicing. Crazy, but that’s how much I love it :)"</p>
                <span class="__customer" href="#">Catherine B.</span>
            </div>
        </div>
    </section>

    <section class="block-juicers">
        <div class="block-juicers__container container-xl">
            <div class="block-juicers__title">
                <h2 class="__head">Shop Red, White, and Blue</h2>
            </div>
            <div class="block-juicers__group is-five">
                <a class="__juicer" href="/products/h-af-slow-juicer" alt="Learn More on Hurom H-AF Slow Juicer">
                    <div class="__featured">
                       <img class="__img" src="{{ 'summer-juicer-h-af.jpg' | asset_url }}" title="Hurom H-AF Slow Juicer" alt="Hurom H-AF Slow Juicer">
                    </div>
                    <h3 class="__name">H-AF</h3>
                    <span class="__button btn">Learn More</span>
                </a>
                <a class="__juicer" href="/products/hh-elite-slow-juicer?variant=32020816970" alt="Learn More on Hurom HH Elite Slow Juicer">
                    <div class="__featured">
                       <img class="__img" src="{{ 'summer-juicer-hh-elite.jpg' | asset_url }}" title="Hurom HH Elite Slow Juicer" alt="Hurom HH Elite Slow Juicer">
                    </div>
                    <h3 class="__name">HH Elite</h3>
                    <span class="__button btn" href="/products/hp-slow-juicer" alt="Learn More">Learn More</span>
                </a>
                <a class="__juicer" href="/products/hp-slow-juicer" alt="Learn More on Hurom HP Slow Juicer">
                    <div class="__featured">
                       <img class="__img" src="{{ 'summer-juicer-hp.jpg' | asset_url }}" title="Hurom HP Slow Juicer" alt="Hurom HP Slow Juicer">
                    </div>
                    <h3 class="__name">HP</h3>
                    <span class="__button btn">Learn More</span>
                </a>
                <a class="__juicer" href="/products/ho-slow-juicer" alt="Learn More on Hurom HO Slow Juicer">
                    <div class="__featured">
                       <img class="__img" src="{{ 'summer-juicer-ho.jpg' | asset_url }}" title="Hurom HO Slow Juicer" alt="Hurom HO Slow Juicer">
                    </div>
                    <h3 class="__name">HO</h3>
                    <span class="__button btn">Learn More</span>
                </a>
                <a class="__juicer" href="/products/h-ae-slow-juicer" alt="Learn More on Hurom H-AE Slow Juicer">
                    <div class="__featured">
                       <img class="__img" src="{{ 'summer-juicer-h-ae.jpg' | asset_url }}" title="Hurom H-AE Slow Juicer" alt="Hurom H-AE Slow Juicer">
                    </div>
                    <h3 class="__name">H-AE</h3>
                    <span class="__button btn">Learn More</span>
                </a>
            </div>
            <a class="block-juicers__link btn-s" href="/pages/compare-hurom-juicers" alt="See and Compare All Our Juicers" onClick="ga('send', 'event', 'Custom Landing Page', 'Clicked Clicked Compare Juicers CTA', 'Referrer: {{ page_title }}')">See and Compare All Our Juicers</a>
        </div>
    </section>

    <section class="block-newsletter">
        <i class="__background is-bottom-right"></i>
        <i class="__background is-bottom-left"></i>
        <div class="block-newsletter__container container-s custom-newsletter-om">
            <div id="om-cot7af9jdsd9bkjp1vka-holder"></div>
        </div>
    </section>

    <section class="block-instagram">
        <div class="block-instagram__container container-xl">
            <div class="block-instagram__title fx-2">
                <h2 class="__head">Follow Us on Instagram</h2>
                <a class="__link link-s" href="https://www.instagram.com/huromamerica/" alt="@huromamerica" target="_blank">@huromamerica</a>
            </div>
            <div class="block-instagram__featured fx-2">
                <img class="__img" src="{{ 'facebook-summer-instagram.jpg' | asset_img_url: '920x' }}" alt="Juice made by Hurom slow juicer" title="Juice by Hurom">
            </div>
        </div>
    </section>
</div>
