<!-- /templates/search.liquid -->

{% assign respond_js_secret_key = shop.domain | md5 %}

{% unless search.terms == respond_js_secret_key %}
    {% paginate search.results by 10 %}
        <div class="search page">
            <div class="search__container container-l">
                <header class="page-title" data-view="fadein-down">
                    <h1 class="page-title__head">{{ 'general.search.title' | t }}</h1>
                </header>

                <section class="page-content" data-view="fadein-down">
                    <div class="search-tool">
                        <form class="search-tool__form clearfix" action="/search" method="get">
                            <input id="search-field" class="search-tool__field field" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" autocomplete="off">
                            <label class="sr-only" for="search-field">{{ 'general.search.placeholder' | t }}</label>
                            <button class="search-tool__btn btn" type="submit" title="{{ 'general.search.submit' | t }}" onClick="ga('send', 'event', 'Search', 'Click: Search', 'Referrer: {{ page_title }}')">{{ 'general.search.submit' | t }}</button>
                        </form>
                    </div>

                    {% if search.performed %}
                        {% assign results_nb = search.results_count %}
                        {% if results_nb != 0 %}
                            <span class="search__results">
                                {{ 'general.search.results_number' | t: results: results_nb }}
                            </span>
                        {% else %}
                            <span class="search__results">
                                {{ 'general.search.no_results' | t }}
                            </span>
                        {% endif %}

                        {% include 'search-grid' %}

                        {% if paginate.pages > 1 %}
                            <hr>
                        {% endif %}
                        {% include 'pagination' %}
                    {% endif %}
                </section>
            </div>
        </div>
    {% endpaginate %}
{% else %}
    {% include 'respond' %}
    {% layout none %}
{% endunless %}
