{% assign season = section.settings.season %}
{% assign title = section.settings.title %}
{% assign btn = section.settings.btn %}
{% assign url = section.settings.url %}

<section class="recipe-cta is-{{ season }} section">
    <div class="__container container-ml">
    	<div class="recipe-cta__title" data-view="fadein-up">
    		<h2 class="__head h1">{{ title }}</h2>
    		<a class="__link btn" href="{{ url }}" title="{{ btn }}" onClick="ga('send', 'event', 'Recipe Landing Page', 'Clicked {{ season }} Ingredients - Learn More CTA', 'Referrer: Juice Recipes')">{{ btn }}</a>
    	</div>
    </div>
</section>

<style>
  .recipe-cta.is-winter:before {
    background-image: url({{ 'recipe-cta-winter-featured-mobile.jpg' | asset_url }});
  }
  .recipe-cta.is-spring:before {
    background-image: url({{ 'recipe-cta-spring-featured-mobile.jpg' | asset_url }});
  }
  .recipe-cta.is-summer:before {
    background-image: url({{ 'recipe-cta-summer-featured-mobile.jpg' | asset_url }});
  }
  .recipe-cta.is-fall:before {
    background-image: url({{ 'recipe-cta-fall-featured-mobile.jpg' | asset_url }});
  }
  @media (min-width: 660px) {
    .recipe-cta.is-winter:before {
      background-image: url({{ 'recipe-cta-winter-featured-left.jpg' | asset_url }});
    }
    .recipe-cta.is-winter:after {
      background-image: url({{ 'recipe-cta-winter-featured-right.jpg' | asset_url }});
    }
    .recipe-cta.is-spring:before {
      background-image: url({{ 'recipe-cta-spring-featured-left.jpg' | asset_url }});
    }
    .recipe-cta.is-spring:after {
      background-image: url({{ 'recipe-cta-spring-featured-right.jpg' | asset_url }});
    }
    .recipe-cta.is-summer:before {
      background-image: url({{ 'recipe-cta-summer-featured-left.jpg' | asset_url }});
    }
    .recipe-cta.is-summer:after {
      background-image: url({{ 'recipe-cta-summer-featured-right.jpg' | asset_url }});
    }
    .recipe-cta.is-fall:before {
      background-image: url({{ 'recipe-cta-fall-featured-left.jpg' | asset_url }});
    }
    .recipe-cta.is-fall:after {
      background-image: url({{ 'recipe-cta-fall-featured-right.jpg' | asset_url }});
    }
  }
</style>

{% schema %}
    {
        "name": "Recipe CTA",
        "settings": [ {
	        "type": "text",
	        "id": "title",
	        "label": "Title"
	    }, {
	        "type": "text",
	        "id": "btn",
	        "label": "Button"
	    }, {
	        "type": "url",
	        "id": "url",
	        "label": "Button URL"
    	}, {
	        "type": "select",
	        "id": "season",
	        "label": "Season",
	        "options": [ {
	            "value": "winter",
	            "label": "Winter"
	        }, {
	            "value": "spring",
	            "label": "Spring"
	        }, {
	            "value": "summer",
	            "label": "Summer"
	        }, {
	            "value": "fall",
	            "label": "Fall"
	        } ],
	        "default": "winter"
	    } ]
    }
{% endschema %}
