<!-- /templates/customers/activate_account.liquid -->

<div class="activate page">
    <div class="activate__container container-s">
        <header class="page-title" data-view="fadein-down">
            <h1 class="page-title__head">{{ 'customer.activate_account.title' | t }}</h1>
            <p class="page-title__lead">{{ 'customer.activate_account.subtext' | t }}</p>
        </header>
        <div class="page-content page-content--with-form" data-view="fadein-up">
            {% form 'activate_customer_password' %}
                <div class="row clearfix">
                    <label class="label">{{ 'customer.activate_account.password' | t }}</label>
                    <input class="field" type="password" name="customer[password]" required>
                    {% if form.errors contains 'blank' %}
                        <span class="error">{{ 'customer.activate_account.error_blank' | t }}</span>
                    {% endif %}
                </div>
                <div class="row clearfix">
                    <label class="label">{{ 'customer.activate_account.password_confirm' | t }}</label>
                    <input class="field" type="password" name="customer[password_confirmation]" required>
                    {% if form.errors contains 'match' %}
                        <span class="error">{{ 'customer.activate_account.error_match' | t }}</span>
                    {% endif %}
                </div>
                <div class="row clearfix align-c">
                    <input type="submit" class="activate__validate-btn btn" value="{{ 'customer.activate_account.submit' | t }}">
                    <br>
                    <input type="submit" class="activate__cancel-btn btn-s" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
                </div>
            {% endform %}
        </div>
    </div>
</div>
