<!-- /templates/customers/reset_password.liquid -->

<div class="reset-password page">
    <div class="reset-password__container container-s">
        {% form 'reset_customer_password' %}
            {% if form.posted_successfully? %}
                <header class="page-title" data-view="fadein-down">
                    <h1 class="page-title__head">{{ 'customer.reset_password.title' | t }}</h1>
                    <p class="page-title__lead">{{ 'customer.reset_password.success' | t }}</p>
                </header>
            {% else %}
                <header class="page-title" data-view="fadein-down">
                    <h1 class="page-title__head">{{ 'customer.reset_password.title' | t }}</h1>
                    <p class="page-title__lead">{{ 'customer.reset_password.subtext' | t }}</p>
                </header>
                <section class="page-content page-content--with-form" data-view="fadein-up">
                    <div class="row clearfix">
                        <label class="label">{{ 'customer.reset_password.password' | t }}</label>
                        <input class="field" type="password" name="customer[password]" required>
                        {% if form.errors %}
                            <span class="error">{{ 'customer.reset_password.error_password' | t }}</span>
                        {% endif %}
                    </div>
                    <div class="row clearfix">
                        <label class="label">{{ 'customer.reset_password.password_confirm' | t }}</label>
                        <input class="field" type="password" name="customer[password_confirmation]" required>
                        {% if form.errors %}
                            <span class="error">{{ 'customer.reset_password.error_confirmation' | t }}</span>
                        {% endif %}
                    </div>
                    <div class="row clearfix align-c">
                        <input class="btn" type="submit" value="{{ 'customer.reset_password.submit' | t }}">
                    </div>
                </section>
            {% endif %}
        {% endform %}
    </div>
</div>
