<!-- /sections/product-difference.liquid -->

{% assign metafields = product.metafields.accentuate %}

{% capture title %}
  {% if metafields.difference_title %}
    {{- metafields.difference_title -}}
  {% else %}
    {{- section.settings.title -}}
  {% endif %}
{% endcapture %}
{% capture body %}
  {% if metafields.difference_body %}
    {{- metafields.difference_body -}}
  {% else %}
    {{- section.settings.body -}}
  {% endif %}
{% endcapture %}
{% capture hurom_featured_img %}
  {% if metafields.hurom_featured_img %}
    {{- metafields.hurom_featured_img -}}
  {% else %}
    {{- section.settings.hurom_featured_img | img_url: '365x' -}}
  {% endif %}
{% endcapture %}
{% capture hurom_featured_alt %}
  {% if metafields.hurom_featured_alt %}
    {{- metafields.hurom_featured_alt -}}
  {% else %}
    {{- section.settings.hurom_featured_alt -}}
  {% endif %}
{% endcapture %}
{% capture hurom_juice_img %}
  {% if metafields.hurom_juice_img %}
    {{- metafields.hurom_juice_img -}}
  {% else %}
    {{- section.settings.hurom_juice_img | img_url: '110x' -}}
  {% endif %}
{% endcapture %}
{% capture hurom_subtitle %}
  {% if metafields.hurom_subtitle %}
    {{- metafields.hurom_subtitle -}}
  {% else %}
    {{- section.settings.hurom_subtitle -}}
  {% endif %}
{% endcapture %}
{% capture hurom_body %}
  {% if metafields.hurom_body %}
    {{- metafields.hurom_body -}}
  {% else %}
    {{- section.settings.hurom_body -}}
  {% endif %}
{% endcapture %}
{% capture others_featured_img %}
  {% if metafields.others_featured_img %}
    {{- metafields.others_featured_img -}}
  {% else %}
    {{- section.settings.others_featured_img | img_url: '365x' -}}
  {% endif %}
{% endcapture %}
{% capture others_featured_alt %}
  {% if metafields.others_featured_alt %}
    {{- metafields.others_featured_alt -}}
  {% else %}
    {{- section.settings.others_featured_alt -}}
  {% endif %}
{% endcapture %}
{% capture others_juice_img %}
  {% if metafields.others_juice_img %}
    {{- metafields.others_juice_img -}}
  {% else %}
    {{- section.settings.others_juice_img | img_url: '110x' -}}
  {% endif %}
{% endcapture %}
{% capture others_subtitle %}
  {% if metafields.others_subtitle %}
    {{- metafields.others_subtitle -}}
  {% else %}
    {{- section.settings.others_subtitle -}}
  {% endif %}
{% endcapture %}
{% capture others_body %}
  {% if metafields.others_body %}
    {{- metafields.others_body -}}
  {% else %}
    {{- section.settings.others_body -}}
  {% endif %}
{% endcapture %}

<section class="product-difference">
    <hr class="product-divider">
    <div class="product-difference__container container">
        <div class="product-difference__title">
            <h2 class="product-difference__head">{{ title }}</h2>
            <p class="product-difference__lead">{{ body }}</p>
        </div>
        <div class="product-difference__holder">
            <div class="product-difference__block fx-2">
                <div class="product-difference__featured">
                    <img class="product-difference__img" src="{{ hurom_featured_img }}" alt="Tomato juice made by Hurom slow juicer" title="{{ hurom_subtitle }}">
                </div>
                <div class="product-difference__info">
                    <a class="product-difference__juice" style="background-image: url({{ hurom_juice_img }});">Intact cellular structure from slow squeezed juice</a>
                    <h3 class="product-difference__sub">{{ hurom_subtitle }}</h3>
                    <p class="product-difference__content">{{ hurom_body }}</p>
                </div>
            </div>
            <div class="product-difference__block fx-2">
                <div class="product-difference__featured">
                    <img class="product-difference__img" src="{{ others_featured_img }}" alt="Tomato juice made by centrifugal juicers or blenders" title="{{ others_subtitle }}">
                </div>
                <div class="product-difference__info">
                    <a class="product-difference__juice" style="background-image: url({{ others_juice_img }});">Damaged cellular structure caused by high speed juicers</a>
                    <h3 class="product-difference__sub">{{ others_subtitle }}</h3>
                    <p class="product-difference__content">{{ others_body }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Difference Section",
        "settings": [ {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "The Slow Squeeze Difference"
        }, {
            "id": "body",
            "type": "textarea",
            "label": "Body",
            "default": "Hurom’s patented Slow Squeeze Technology uses an auger to squeeze out juice (similar to how you would hand-squeeze an orange) instead of shredding fruits and vegetables with high-speed blades like other juicers and blenders. This natural motion minimizing damage to ingredients, keeping natural taste and nutrition intact."
        }, {
            "id": "hurom_featured_img",
            "type": "image_picker",
            "label": "Hurom Featured Image"
        }, {
            "id": "hurom_featured_alt",
            "type": "text",
            "label": "Hurom Image Alt Text",
            "default": "Tomato juice made by Hurom slow juicer"
        }, {
            "id": "hurom_subtitle",
            "type": "text",
            "label": "Hurom Subtitle",
            "default": "Juice by Hurom"
        }, {
            "id": "hurom_juice_img",
            "type": "image_picker",
            "label": "Hurom Juice Image"
        }, {
            "id": "hurom_body",
            "type": "textarea",
            "label": "Hurom Body",
            "default": "In this microscopic close up of Hurom-made tomato juice, you can see how the juice retains its natural color and cellular structure."
        }, {
            "id": "others_featured_img",
            "type": "image_picker",
            "label": "Others Featured Image"
        }, {
            "id": "others_featured_alt",
            "type": "text",
            "label": "Others Image Alt Text",
            "default": "Tomato juice made by centrifugal juicers or blenders"
        }, {
            "id": "others_juice_img",
            "type": "image_picker",
            "label": "Others Juice Image"
        }, {
            "id": "others_subtitle",
            "type": "text",
            "label": "Others Subtitle",
            "default": "Juice by centrifugal juicers / blenders"
        }, {
            "id": "others_body",
            "type": "textarea",
            "label": "Others Body",
            "default": "Centrifugal juicers and blenders heat up and oxidize the tomato juice with high speed blades, reducing nutrients and breaking down the form and color."
        } ]
    }
{% endschema %}
