{% assign accentuate = accentuate | default: product.metafields.accentuate %}
{% assign disable_lifestyle = disable_lifestyle | default: accentuate['disable_lifestyle'] %}
{% assign disable_media = disable_media | default: accentuate['disable_media'] %}

{% comment %} Hide video and add second lifestyle image if product is part of limited edition series {% endcomment %}
{% for collection in product.collections %}
  {% if collection.handle contains 'limited-edition-series' %}
    {% assign is_limited_edition = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% unless disable_media and disable_lifestyle %}
  <section class="product-media js-media{% if class != blank %} {{ class }}{% endif %}" data-module="product-media">
    <div class="product-media__container container-xl">
      {%- if title != blank -%}
        <h2 class="product-media__title">{{ title }}</h2>
      {%- endif -%}
      {% comment %} Lifestyle Images {% endcomment %}
      {% unless disable_lifestyle %}
        <div class="product-lifestyle">
          {% for option in product.options %}
            {% for variant in product.variants %}
              {% capture lifestyle %}{{ product.handle }}-{{ option | handleize }}-{{ variant.title | handleize }}-lifestyle.jpg{% endcapture %}

              <img class="product-lifestyle__img js-lifestyle {% if variant == product.selected_or_first_available_variant %}is-active{% endif %}" src="{{ lifestyle | strip | file_url }}" alt="{{ product.title }}" data-variant-id="{{ variant.id }}">

              {% assign lifestyle = false %}
            {% endfor %}
          {% endfor %}
        </div>

        {% if is_limited_edition %}
          {% capture lifestyle_2 %}hurom-{{ product.handle }}-lifestyle-2.jpg{% endcapture %}

          <div class="product-lifestyle">
            <img class="product-lifestyle__img" src="{{ lifestyle_2 | file_url }}" alt="{{ product.title }}">
          </div>

          {% assign lifestyle_2 = false %}
        {% endif %}
      {% endunless %}

      {% comment %} Video {% endcomment %}
      {% unless disable_media %}
        <div class="product-demo">
          <div id="player-video" class="product-demo__holder">
            {% if accentuate['product_youtube_id'] != blank %}
              {% assign video_id = accentuate['product_youtube_id'] %}
            {% else %}
              {% assign video_id = settings.product_youtube_video_url.id %}
            {% endif %}

            <iframe class="product-demo__video" data-src="https://www.youtube.com/embed/{{ video_id }}?modestbranding=0&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>

            {% assign video_id = false %}
          </div>
          <div class="product-demo__thumbnail">
            {% if accentuate['product_video_thumbnail'] %}
              {% assign video_thumbnail = accentuate['product_video_thumbnail'] %}
            {% else %}
              {% assign video_thumbnail = settings.product_youtube_video_thumbnail | img_url: '1900x' %}
            {% endif %}

            <a class="product-demo__btn-play" onClick="ga('send', 'event', 'Product Page CTAs', 'Play: Product Video', 'Referrer: {{ page_title }}')"></a>
            <img class="product-demo__img" src="{{ video_thumbnail }}" alt="{{ product.title }}">

            {% assign video_thumbnail = false %}
          </div>
        </div>
      {% endunless %}
    </div>
  </section>
{% endunless %}

{% assign accentuate = false %}
