<section class="block-difference" id="block-difference">
    <div class="block-difference__container container">
        <div class="block-difference__title">
            <p class="__sup">{{ sup }}</p>
            <h2 class="__head">{{ head }}</h2>
            <p class="__lead">{{ lead }}</p>
        </div>
        <div class="block-difference__media">
            <iframe class="block-difference__video" src="https://www.youtube.com/embed/eroBFk9Jujc?modestbranding=0&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="block-difference__group">
            <div class="__holder fx-2">
                <div class="block-difference__info">
                    <h3 class="__sub">{{ item_sub_1 }}</h3>
                    <p class="__content">{{ item_content_1 }}</p>
                </div>
            </div>
            <div class="__holder fx-2">
                <div class="block-difference__info">
                    <h3 class="__sub">{{ item_sub_2 }}</h3>
                    <p class="__content">{{ item_content_2 }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
