<!-- /templates/customers/login.liquid -->

<div class="login page">
    <div class="login__container container-s">
        <header class="page-title" data-view="fadein-down">
            <h1 class="page-title__head">{{ 'customer.login.title' | t }}</h1>
        </header>
        <section class="page-content page-content--with-form" data-view="fadein-up">
            {% form 'customer_login' %}
                <div class="row clearfix">
                    <label class="label">{{ 'customer.login.form.email' | t }}</label>
                    <input class="field{% if form.errors %} field--error{% endif %}" type="email" name="customer[email]" autocorrect="off" autocapitalize="off" autofocus required>
                    {% if form.errors %}
                        <span class="error">{{ 'customer.login.form.error_email' | t }}</span>
                    {% endif %}
                </div>
                <div class="row clearfix">
                    <label class="label">{{ 'customer.login.form.password' | t }}</label>
                    <input class="field{% if form.errors %} field--error{% endif %}" type="password" name="customer[password]" required>
                    {% if form.errors %}
                        <span class="error">{{ 'customer.login.form.error_password' | t }}</span>
                    {% endif %}
                </div>
                <div class="row clearfix align-c">
                    <input class="btn" type="submit" value="{{ 'customer.login.form.submit' | t }}" title="{{ 'customer.login.form.submit' | t }}">
                </div>
            {% endform %}
        </section>
        <footer class="login-footer" data-view="fadein-up">
            <a class="login-footer__recover-link" data-dialog="recover_password" data-module="modal">{{ 'customer.login.forgot_password' | t }}</a>
            <span class="login-not-registered">
                {{ 'customer.login.not_registered' | t }} <a class="login-not-registered__link" href="/account/register">{{ 'customer.login.create_account' | t }}</a>
            </span>
            <a class="login-footer__return-link link-s" href="{{ shop.url }}">{{ 'customer.login.cancel' | t }}</a>
        </footer>
    </div>
</div>

<div id="recover_password" class="recover-modal dialog">
    <span class="dialog__overlay"></span>
    <div class="dialog__content">
        {% form 'recover_customer_password' %}
            {% if form.posted_successfully? %}
                {% assign open_modal = '' %}
                <header class="dialog-title">
                    <h2 class="dialog-title__head">{{ 'customer.recover_password.success_title' | t }}</h2>
                    <p class="dialog-title__lead">{{ 'customer.recover_password.success_subtext' | t }}</p>
                </header>
            {% else %}
                <header class="dialog-title">
                    <h2 class="dialog-title__head">{{ 'customer.recover_password.title' | t }}</h2>
                    <p class="dialog-title__lead">{{ 'customer.recover_password.subtext' | t }}</p>
                </header>
                <div class="dialog-main">
                    <div class="row clearfix">
                        <label class="label">{{ 'customer.recover_password.email' | t }}</label>
                        <input class="field" type="email" name="email" autocorrect="off" autocapitalize="off" required>
                        {% if form.errors %}
                            {% assign open_modal = '' %}
                            <span class="error">{{ form.errors | default_errors | strip_html }}</span>
                        {% endif %}
                    </div>
                    <div class="row clearfix align-c">
                        <input class="btn" type="submit" value="{{ 'customer.recover_password.submit' | t }}" title="{{ 'customer.recover_password.submit' | t }}">
                    </div>
                </div>
            {% endif %}
        {% endform %}
        <footer class="dialog-footer">
            <a class="dialog-footer__cancel-link" data-dialog-close>{{ 'customer.recover_password.cancel' | t }}</a>
        </footer>
    </div>
</div>

<script type="text/javascript">
    $( window ).load(function() {
        var $trigger = $( '[data-dialog="recover_password"]');

        {% if open_modal %}
            $trigger.trigger( 'click' );
        {% endif %}
    });
</script>
