<!-- /templates/customers/order.liquid -->

<div class="order page">
    <div class="order__container container-l">
        <nav class="order-nav" data-view="fadein-down">
            <ul class="order-nav__list clearfix">
                <li class="order-nav__item">
                    <a class="order-nav__return-link order-nav__link" href="/account">{{ 'customer.account.return' | t }}</a>
                </li>
                <li class="order-nav__item">
                    <a class="order-nav__logout-link order-nav__link" href="/account/logout">{{ 'customer.account.log_out' | t }}</a>
                </li>
            </ul>
        </nav>

        <header class="page-title" data-view="fadein-down">
            <h2 class="page-title__head">{{ 'customer.order.title' | t: name: order.name }} {{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y at %I:%M%p" }}</h2>
        </header>

        <section class="page-content" data-view="fadein-up">
            <div class="order-status">
                <ul class="order-status__list">
                    <li class="order-status__item order-status__tracking">
                        <label class="order-status__label">{{ 'customer.order.tracking_number' | t }}:</label>
                        {% for line_item in order.line_items limit:1 %}
                            {% if line_item.fulfillment.tracking_number %}
                                {{ line_item.fulfillment.tracking_number }}
                            {% else %}
                                &mdash;
                            {% endif %}
                        {% endfor %}
                    </li>
                    <li class="order-status__item order-status__shipping">
                        <label class="order-status__label">{{ 'customer.order.shipping_status' | t }}:</label> {{ order.fulfillment_status | capitalize }}
                    </li>
                    <li class="order-status__item order-status__payment">
                        <label class="order-status__label">{{ 'customer.order.payment_status' | t }}:</label> {{ order.financial_status | capitalize }}
                    </li>
                    <li class="order-status__item order-status__total">
                        <label class="order-status__label">{{ 'customer.order.total' | t }}:</label> {{ order.total_price | money }}
                    </li>
                </ul>
            </div>
            <h3 class="order-details__head">
                Order Details
                {% if order.cancelled %}
                    {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
                     ({{ 'customer.order.cancelled' | t: date: cancelled_at }})
                {% endif %}
            </h3>

            <table class="table-order table">
                <thead>
                    <tr>
                        <th class="table-order__featured-head"></th>
                        <th class="table-order__item-head">{{ 'customer.order.product' | t }}</th>
                        <th class="table-order__sku-head">{{ 'customer.order.sku' | t }}</th>
                        <th class="table-order__price-head">{{ 'customer.order.price' | t }}</th>
                        <th class="table-order__quantity-head">{{ 'customer.order.quantity' | t }}</th>
                        <th class="table-order__total-head">{{ 'customer.order.total' | t }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line_item in order.line_items %}
                        <tr class="table-order__product">
                            <td class="table-order__featured">
                                <a href="{{ line_item.url | within: collections.all }}">
                                    <img src="{% if line_item %}{{ line_item | img_url: 'compact' }}{% else %}{{ 'fallback-product-item.svg' | asset_url }}{% endif %}" alt="{{ line_item.product.title }}" title="{{ line_item.product.title }}">
                                </a>
                            </td>
                            <td class="table-order__item">
                                <a class="table-order__item-link link-s" href="{{ line_item.url }}">{{ line_item.product.title }}</a>
                                <ul class="table-order__item-data">
                                    <li class="table-order__data-sku table-order__data">{{ 'customer.order.sku' | t }}: {{ line_item.variant.sku }}</li>
                                    <li class="table-order__data-price table-order__data">{{ 'customer.order.price' | t }}: {{ line_item.price | money }}</li>
                                    <li class="table-order__data-quantity table-order__data">{{ 'customer.order.quantity' | t }}: {{ line_item.quantity }}</li>
                                    {% unless line_item.variant.title contains 'Default' %}
                                        <li class="table-order__data-variant table-order__data">
                                            {{ 'customer.order.variant' | t }}: {{ line_item.variant.title }}
                                        </li>
                                    {% endunless %}
                                </ul>
                            </td>
                            <td class="table-order__sku">
                                {{ line_item.variant.sku }}
                            </td>
                            <td class="table-order__price">
                                {{ line_item.price | money }}
                            </td>
                            <td class="table-order__quantity">
                                {{ line_item.quantity }}
                            </td>
                            <td class="table-order__total">
                                {{ line_item.quantity | times: line_item.price | money }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="order-sum">
                <ul class="order-sum__list">
                    <li class="order-sum__item clearfix">
                        <label class="order-sum__label">
                            {{ 'customer.order.subtotal' | t }}
                        </label>
                        <span class="order-sum__amount">
                            {{ order.subtotal_price | money }}
                        </span>
                    </li>
                    {% for shipping_method in order.shipping_methods %}
                        <li class="order-sum__item clearfix">
                            <label class="order-sum__label">
                                {{ 'customer.order.shipping' | t }}
                            </label>
                            <span class="order-sum__amount">
                                {{ shipping_method.price | money }}
                            </span>
                        </li>
                    {% endfor %}
                    {% for discount in order.discounts %}
                        <li class="order-sum__item clearfix">
                            <label class="order-sum__label">
                                {{ 'customer.order.discount' | t }}
                            </label>
                            <span class="order-sum__amount">
                                -{{ discount.amount | money }}
                            </span>
                        </li>
                    {% endfor %}
                    <li class="order-sum__item clearfix">
                        <label class="order-sum__label">
                            {{ 'customer.order.tax' | t }}
                        </label>
                        <span class="order-sum__amount">
                            {{ order.tax_price | money }}
                        </span>
                    </li>
                    <li class="order-sum__item clearfix">
                        <label class="order-sum__label">
                            {{ 'customer.order.total' | t }}
                        </label>
                        <span class="order-sum__amount">
                            {{ order.total_price | money }}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="order-addresses">
                <div class="order-billing">
                    <h3 class="order-billing__head">{{ 'customer.order.billing_address' | t }}</h3>

                    <ul class="order-billing__list">
                        <li class="order-billing__item">
                            {{ order.billing_address.name }}
                        </li>
                        {% if order.billing_address.company %}
                            <li class="order-billing__item">
                                {{ order.billing_address.company }}
                            </li>
                        {% endif %}
                        <li class="order-billing__item">
                            {{ order.billing_address.street }}
                        </li>
                        <li class="order-billing__item">
                            {{ order.billing_address.city }},{% if order.billing_address.province %} {{ order.billing_address.province }}{% endif %} {{ order.billing_address.zip | upcase }}
                        </li>
                        <li class="order-billing__item">
                            {{ order.billing_address.country }}
                        </li>
                    </ul>
                </div>

                <div class="order-shipping">
                    <h3 class="order-shipping__head">{{ 'customer.order.shipping_address' | t }}</h3>

                    <ul class="order-shipping__list">
                        <li class="order-shipping__item">
                            {{ order.shipping_address.name }}
                        </li>
                        {% if order.shipping_address.company %}
                            <li class="order-shipping__item">
                                {{ order.shipping_address.company }}
                            </li>
                        {% endif %}
                        <li class="order-shipping__item">
                            {{ order.shipping_address.street }}
                        </li>
                        <li class="order-shipping__item">
                            {{ order.shipping_address.city }},{% if order.shipping_address.province %} {{ order.shipping_address.province }}{% endif %} {{ order.shipping_address.zip | upcase }}
                        </li>
                        <li class="order-shipping__item">
                            {{ order.shipping_address.country }}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
