<!-- /templates/customers/register.liquid -->

<div class="register page">
    <div class="register__container container-s">
        <header class="page-title" data-view="fadein-down">
            <h1 class="page-title__head">{{ 'customer.register.title' | t }}</h1>
        </header>
        <section class="page-content page-content--with-form" data-view="fadein-up">
            {% form 'create_customer', class: 'register__form' %}
                <div class="row clearfix">
                    <label class="label">{{ 'customer.register.form.first_name' | t }}</label>
                    <input class="field" type="text" name="customer[first_name]" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
                </div>
                <div class="row clearfix">
                    <label class="label">{{ 'customer.register.form.last_name' | t }}</label>
                    <input class="field" type="text" name="customer[last_name]" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
                </div>
                <div class="row clearfix">
                    <label class="label">{{ 'customer.register.form.email' | t }}</label>
                    <input class="field" type="email" name="customer[email]" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" required>
                    {% if form.errors %}
                        {% for error in form.errors %}
                            {% if error contains 'form' %}
                                <span class="error">{{ 'customer.register.form.error_email' | t }}</span>
                                {% break %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row clearfix">
                    <label class="label">{{ 'customer.register.form.password' | t }}</label>
                    <input class="field" type="password" name="customer[password]" required>
                    {% if form.errors %}
                        {% for error in form.errors %}
                            {% if error contains 'password' %}
                                <span class="error">{{ 'customer.register.form.error_password' | t }}</span>
                                {% break %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row clearfix align-c">
                    <input class="btn" type="submit" value="{{ 'customer.register.form.submit' | t }}" title="{{ 'customer.register.form.submit' | t }}">
                </div>

            {% endform %}
        </section>
        <footer class="register-footer" data-view="fadein-up">
            <span class="register-already-registered">
                {{ 'customer.register.already_registered' | t }} <a class="register__login-link link" href="/account/login">{{ 'customer.register.sign_in' | t }}</a>
            </span>
            <a class="register-cancel__link link-s" href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
        </footer>
    </div>
</div>
