{% assign show_banner = section.settings.show %}
{% assign title = section.settings.title %}
{% assign subtitle = section.settings.subtitle %}
{% assign btn = section.settings.btn %}
{% assign url = section.settings.url %}
{% assign btn_style = section.settings.btn_style %}
{% assign image = section.settings.image %}
{% assign forbidden = section.settings.forbidden | split: ',' %}
{% assign color_title = section.settings.color_title %}
{% assign color_subtitle = section.settings.color_subtitle %}
{% assign color_bg = section.settings.color_bg %}
{% assign color_btn_bg = section.settings.color_btn_bg %}
{% assign color_btn_bg_hover = section.settings.color_btn_bg_hover %}
{% assign color_btn_txt = section.settings.color_btn_text %}
{% assign no_exception = true %}

{% if forbidden != blank %}
	{% for temp in forbidden %}
		{% if temp == template %}
			{% assign no_exception = false %}
			{% break %}
		{% endif %}
	{% endfor %}
{% endif %}

{% if show_banner and no_exception %}
	<div class="promo-banner-alt" {% if color_bg %}style="background-color:{{ color_bg }};"{% endif %}>
		<div class="promo-banner-alt__container container-xl">
      {% if image %}
  			<div class="promo-banner-alt__featured">
          {%- assign mod_normal = image | img_url: 'master' -%}
          {%- include 'image'
            mod_class: 'promo-banner-alt__img',
            mod_normal: mod_normal -%}
        </div>
      {% endif %}
			<div class="promo-banner-alt__content">
				{% if title != blank %}
					<div class="promo-banner-alt__head" {% if color_title %}style="color:{{ color_title }};"{% endif %}>{{ title }}</div>
				{% endif %}
				{% if subtitle != blank %}
					<div class="promo-banner-alt__sub" {% if color_subtitle %}style="color:{{ color_subtitle }};"{% endif %}>{{ subtitle }}</div>
				{% endif %}
			</div>
			{% if btn != blank %}
				<a class="promo-banner-alt__btn btn color-pattern" {% if url != blank %}href="{{ url }}"{% endif %} onClick="ga('send', 'event', 'Promo Bar CTA', 'Clicked: {{ btn }}', 'Referrer: {{ page_title }}')">{{ btn }}</a>
			{% endif %}
		</div>
	</div>

  <style>
    .btn.color-pattern {
      background-color: {{- color_btn_bg -}};
      color: {{- color_btn_txt -}};
    }
    .no-touch .btn.color-pattern:hover {
      background-color: {{- color_btn_bg_hover -}};
    }
  </style>
{% endif %}

{% schema %}
	{
	    "name": "Alternative Promo Banner",
	    "settings": [ {
	        "type": "checkbox",
	        "id": "show",
	        "label": "Show Alternative Promo Banner",
	        "default": true
      	}, {
	        "type": "text",
	        "id": "max_width",
	        "label": "Content Max Width",
	        "default": "1280px"
      	}, {
			"type": "richtext",
			"id": "title",
			"label": "Title"
	    }, {
	        "type": "color",
	        "id": "color_title",
	        "label": "Title Color",
	        "default": "#292929"
      	}, {
			"type": "richtext",
			"id": "subtitle",
			"label": "Subtitle"
	    }, {
	        "type": "color",
	        "id": "color_subtitle",
	        "label": "Subtitle Color",
	        "default": "#292929"
      	}, {
        	"type": "image_picker",
	        "id": "image",
	        "label": "Image",
	        "info": "Image displayed in the Alternative Promo Banner must be ~ 515 x 160px and be a JPEG."
	    }, {
	        "type": "color",
	        "id": "color_bg",
	        "label": "Background Color",
	        "default": "#FFFFFF"
      	}, {
	        "type": "text",
	        "id": "btn",
	        "label": "Button"
	    }, {
	        "type": "url",
	        "id": "url",
	        "label": "Button URL"
    	}, {
          "type": "color",
          "id": "color_btn_bg",
          "label": "Button Background Color"
	    }, {
          "type": "color",
          "id": "color_btn_bg_hover",
          "label": "Button Background Color (Hover)"
      }, {
          "type": "color",
          "id": "color_btn_text",
          "label": "Button Text Color"
      }, {
	        "type": "text",
	        "id": "forbidden",
	        "label": "Forbidden Templates/Pages",
	        "info": "Enter the name of the templates or handle where the alternative promo banner should not appear. Separate each template name by a \",\"."
      	} ]
	}
{% endschema %}
