{%- assign mod_class = mod_class | default: blank -%}
{%- assign mod_video = video | default: false -%}
{%- assign mod_video_intermediate = mod_video_intermediate | default: false -%}
{%- assign mod_video_mobile = mod_video_mobile | default: false -%}
{%- assign mod_fallback_src = mod_fallback_src | default: false -%}
{%- assign mod_fallback_src_media = mod_fallback_src_media | default: false -%}
{%- assign mod_fallback_text = mod_fallback_text | default: false -%}

{%- capture mod_css -%}
  {%- if mod_class -%}
    {{ mod_class }} video fill js-video {% if mod_video_mobile %}no-fallback{% endif %}
  {%- else -%}
    video fill js-video {% if mod_video_mobile %}no-fallback{% endif %}
  {%- endif -%}
{%- endcapture -%}

<div class="{{ mod_css | strip }}" data-module="video">
  <video
    class="video__el js-video"
    data-src="{{ mod_video }}"
    data-intermediate-src="{{ mod_video_intermediate }}"
    data-mobile-src="{{ mod_video_mobile }}"
    autoplay="true"
    loop="true"
    muted="true"
    playsinline></video>
  {%- if mod_fallback_src -%}
    {%- render 'image',
      mod_loader: false,
      mod_src: mod_fallback_src,
      mod_src_media: mod_fallback_src_media,
      mod_text: mod_fallback_text,
      mod_class: 'video__fallback' -%}
  {%- endif -%}
</div>

{%- assign mod_class = nil -%}
{%- assign mod_css = nil -%}
{%- assign mod_class = nil -%}
{%- assign mod_video = nil -%}
{%- assign mod_video_intermediate = nil -%}
{%- assign mod_video_mobile = nil -%}
{%- assign mod_fallback_src = nil -%}
{%- assign mod_fallback_src_media = nil -%}
{%- assign mod_fallback_text = nil -%}
