<!-- /snippets/components/press-item.liquid -->

<a class="press-item frame-white" href="{{ article.url }}">
	<div class="press-item__container">
	    {% if article.image %}
	        <div class="press-item__featured" href="{{ article.url }}">
	            <img class="press-item__img" src="{{ article.image.src | img_url: 'large' }}" alt="{{ article.title }}" title="{{ article.title }}">
	        </div>
	    {% endif %}
	    <h4 class="press-item__head">{{ article.title }}</h4>
	    <span class="press-item__link link-s" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</span>
	</div>
</a>
