{%- assign metafields = page.metafields.accentuate -%}

<section class="block-critics">
  <div class="block-critics__container container-xl">
    <div class="block-critics__holder">
      {%- if metafields['critics_title'] != blank %}
        <h2 class="__head">{{- metafields['critics_title'] -}}</h2>
      {%- else %}
        {% comment %}
          Will need to be removed once every pages using the custom template use their own custom settings
        {% endcomment %}
        <h2 class="__head">What Critics & Customers Are Saying</h2>
      {%- endif %}

      {%- if metafields['critics_stars_1'] != blank %}
        <ul class="__review">
          <li class="__star"></li>
          <li class="__star"></li>
          <li class="__star"></li>
          <li class="__star"></li>
          <li class="__star"></li>
        </ul>
      {%- endif -%}

      <p class="__description">
        {%- if metafields['critics_description_1'] != blank -%}
          {{- metafields['critics_description_1'] -}}
        {%- else -%}
          {% comment %}
            Will need to be removed once every pages using the custom template use their own custom settings
          {% endcomment %}
          "If you don’t have much experience with juicers, you might think that they’re all the same: You put in some fruit, and out comes juice. But we recently had the opportunity to sample the H-AA, Hurom’s flagship model, and if you’re in the market for a high-end juicer, this one is a game-changer."
        {%- endif -%}
      </p>

      {%- if metafields['critics_author_1'] != blank -%}
        <span class="__customer">{{- metafields['critics_author_1'] -}}</span>
      {%- endif -%}

      {%- if metafields['critics_logo_1'] != blank -%}
        <span class="__critics" style="background-image:url({{- metafields['critics_logo_1'] -}});"></span>
      {%- else -%}
        {% comment %}
          Will need to be removed once every pages using the custom template use their own custom settings
        {% endcomment %}
        <a class="__critics" href="#">The Daily Meal"</a>
      {%- endif -%}
    </div>

    <hr data-view="expand-wide">

    <div class="block-critics__holder">
      {%- if metafields['critics_title'] != blank %}
        <h2 class="__head">{{- metafields['critics_title'] -}}</h2>
      {%- else %}
        {% comment %}
          Will need to be removed once every pages using the custom template use their own custom settings
        {% endcomment %}
        <h2 class="__head">What Critics & Customers Are Saying</h2>
      {%- endif %}

      {%- if metafields['critics_stars_2'] != blank %}
        <ul class="__review">
          <li class="__star"></li>
          <li class="__star"></li>
          <li class="__star"></li>
          <li class="__star"></li>
          <li class="__star"></li>
        </ul>
      {%- endif -%}

      <p class="__description">
        {%- if metafields['critics_description_2'] != blank -%}
          {{- metafields['critics_description_2'] -}}
        {%- else -%}
          {% comment %}
            Will need to be removed once every pages using the custom template use their own custom settings
          {% endcomment %}
          "I LOVE this juicer! It’s so easy to operate and clean that I use it EVERYDAY… sometimes 2 or 3 times a day. I’ve saved so much money (no longer buying juice from stores) and really enjoy making my own recipes. I even travel with my Hurom Juicer when visiting friends and family so I can turn them onto juicing. Crazy, but that’s how much I love it :)"
        {%- endif -%}
      </p>

      {%- if metafields['critics_author_2'] != blank -%}
        <span class="__customer">{{- metafields['critics_author_2'] -}}</span>
      {%- else -%}
        {% comment %}
          Will need to be removed once every pages using the custom template use their own custom settings
        {% endcomment %}
        <span class="__customer" href="#">Catherine B.</span>
      {%- endif -%}

      {%- if metafields['critics_logo_2'] != blank -%}
        <span class="__critics" style="background-image:url({{- metafields['critics_logo_2'] -}});"></span>
      {%- endif -%}
    </div>
  </div>
</section>
