{%- assign fields = section.settings -%}

{%- assign mod_image_alt = fields['image'].alt -%}
{%- assign mod_image_normal = fields['image'] | img_url: '1080x' -%}
{%- assign mod_image_large = fields['image'] | img_url: '2160x' -%}
{%- assign mod_image_small = fields['image'] | img_url: '640x' -%}

{%- capture mod_image_srcset -%}
{{ mod_image_large }} 2160w, {{ mod_image_normal }} 1080w, {{ mod_image_small }} 640w
{%- endcapture -%}

{%- if fields and section.blocks -%}
  <script type="text/javascript">
    const quizData = {%- include 'quiz-json', fields: fields, blocks: section.blocks, decode: false -%};
    const mailchimpUrl = {{ section.settings.mailchimp_url | json }};
    const quizStrings = {
      invalidEmail: {{ 'general.newsletter_form.error' | t | json }},
      alreadySubscribed: {{ 'general.newsletter_form.already_subscribed' | t | json }},
      submissionError: {{ 'general.newsletter_form.submission_error' | t | json }}
    };
  </script>
{%- endif -%}

<div class="quiz abs fit">
  <div class="quiz__container f fill-h">
    <div class="quiz__left">
      <div class="quiz__image ratio">
        {%- include 'image',
          mod_src: mod_image_normal,
          mod_src_retina: mod_image_large,
          mod_srcset: mod_image_srcset,
          mod_text: mod_image_alt,
          mod_loader: false,
          mod_fit: 'cover' -%}
      </div>
    </div>

    <div class="quiz__right">
      <div id="quizApp" class="quiz__app abs fit" data-module="quiz">
        <div class="quiz__header label abs z1 fit-t fit-l fill-w align-c" v-if="state.quiz === 'questions' && questions[currentQuestion].title">
          <ul class="quiz__menu list--reset align-c">
            <li v-for="(question, index) in questions" v-if="question.title.length > 0" class="quiz__menu__item inline-block" :class="{ 'is-active' : question.title === questions[currentQuestion].title, 'is-clickable' : index <= progressIndex }" >
              <span class="label" v-html="question.title" :data-question-index="index" @click="skipToQuestion"></span>
            </li>
          </ul>
        </div>

        <transition-group name="fade" tag="div" class="quiz__questions fill align-c" v-if="questionsState">
          <div
            is="quiz-question"
            class="quiz__question abs fit"
            v-for="(question, index) in questions"
            :newsletter-url="newsletterUrl"
            :key="question.key"
            :name="answers['name'] || answers['name_email']"
            :question="question"
            :saved-answer="answers[question.key] || ''"
            :button-text="question.button_text"
            @answer="handleAnswer"
            v-if="currentQuestion === index"
          ></div>
        </transition-group>

        <transition name="fade">
          <div class="quiz__loading abs fit f fdc jcc aic align-c" v-if="loadingState">
            <div class="quiz__loading__icon icon--xl mb2">
              {%- include 'icon' with 'icon-flask' -%}
            </div>
            <h1 class="hurom-h2 quiz__loading__text">{{- fields.loading_text -}}</h1>
          </div>
        </transition>

        <transition name="fade">
          <div class="quiz__results f fdc jcc aic " v-if="resultsState">
            <div class="quiz__results__wrapper" v-if="results.length">
              <h1 class="hurom-h2 quiz-results__text align-c" v-html="updatedResultText"></h1>

              <div class="quiz-results__list">
                <template v-for="(article, i) in results">
                  <div class="quiz-result">
                    {%- include 'tile-card',
                      mod_class: 'quiz-results__tile-card',
                      mod_attr: ':article="article" :key="article.id"' -%}
                  </div>
                </template>
              </div>
            </div>

            <h1 class="hurom-h2 quiz-results__text align-c" v-else v-html="noResultText"></h1>

            <div class="quiz__retake f ff jcc mt2" @click.prevent="retakeQuiz">
              <div class="quiz__retake__icon icon--xs mr1">
                {%- include 'icon' with 'icon-refresh' -%}
              </div>
              <span class="quiz__retake__text label">{{- fields.retake_text -}}</span>
            </div>
          </div>
        </transition>
    </div>
    </div>
  </div>
</div>

{%- assign fields = nil %}
{%- assign mod_image_alt = nil -%}
{%- assign mod_image_normal = nil -%}
{%- assign mod_image_large = nil -%}
{%- assign mod_image_small = nil -%}
{%- assign mod_image_srcset = nil -%}

{% schema %}
  {
    "name": "Quiz",
    "settings": [ {
      "type": "image_picker",
      "id": "image",
      "label": "Side Image"
    }, {
      "type": "text",
      "id": "loading_text",
      "label": "Loading Text",
      "default": "Please wait while we formulate your results..."
    }, {
      "type": "text",
      "id": "result_text",
      "label": "Result Text",
      "default": "Thanks [name], here are the products curated for you!",
      "info": "[name] will be replaced with name of the quiz-taker"
    }, {
      "type": "text",
      "id": "no_result_text",
      "label": "No Result Text",
      "default": "Sorry, we couldn't find any matching products."
    }, {
      "type": "text",
      "id": "retake_text",
      "label": "Retake Text",
      "default": "Retake Quiz"
    }, {
      "type": "text",
      "id": "mailchimp_url",
      "label": "Mailchimp form action URL",
      "info": "For more info on where to find this, check out [this post](https://help.shopify.com/themes/customization/communication/get-a-mailchimp-form-action-url)."
    } ],
    "blocks": [
      {
        "name": "Name",
        "type": "name",
        "limit": 1,
        "settings": [ {
          "type": "text",
          "id": "key",
          "label": "Key",
          "default": "name",
          "info": "Input a unique identifer name (e.g. name)"
        }, {
          "type": "text",
          "id": "input_type",
          "label": "Input Type",
          "default": "text"
        }, {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Intro"
        }, {
          "type": "textarea",
          "id": "question",
          "label": "Question",
          "default": "Let’s begin, we want to get to know you better!"
        }, {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder",
          "default": "Enter Your Name"
        }, {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Next Question"
        } ]
      },
      {
        "name": "Email",
        "type": "email",
        "limit": 1,
        "settings": [ {
          "type": "text",
          "id": "key",
          "label": "Key",
          "default": "email",
          "info": "Input a unique identifer name (e.g. email)"
        }, {
          "type": "text",
          "id": "input_type",
          "label": "Input Type",
          "default": "email"
        }, {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Email"
        }, {
          "type": "textarea",
          "id": "question",
          "label": "Question",
          "default": "Enter your email address so we can save your results"
        }, {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder",
          "default": "Enter Your Email"
        }, {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Submit + See Results"
        } ]
      },
      {
        "name": "Text",
        "type": "text",
        "settings": [ {
          "type": "text",
          "id": "key",
          "label": "Key",
          "default": "email",
          "info": "Input a unique identifer name (e.g. concern). This should match the prefix of the product tags that will be referenced (e.g. concern-dryness)."
        }, {
          "type": "text",
          "id": "input_type",
          "label": "Input Type",
          "default": "text"
        }, {
          "type": "text",
          "id": "title",
          "label": "Title"
        }, {
          "type": "textarea",
          "id": "question",
          "label": "Question"
        }, {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder"
        }, {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Next Question"
        } ]
      },
      {
        "name": "Select",
        "type": "select",
        "settings": [ {
          "type": "text",
          "id": "key",
          "label": "Key",
          "info": "Input a unique identifer name (e.g. goal). This should match the prefix of the product tags that will be referenced (e.g. goal-hydration)."
        }, {
          "type": "text",
          "id": "title",
          "label": "Title"
        }, {
          "type": "textarea",
          "id": "question",
          "label": "Question",
          "info": "[name] will be replaced with name of the quiz-taker"
        }, {
          "type": "textarea",
          "id": "options",
          "label": "Options",
          "info": "Enter each option on a new line. Use this format for each option: [Title|Search Values|Image_URL]. Image/SVG icons can be uploaded in Settings/Files."
        }, {
          "type": "checkbox",
          "id": "multiple_select",
          "label": "Allow selection of multiple values",
          "default": false
        }, {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Next Question"
        }, {
          "type": "textarea",
          "id": "tip",
          "label": "Tip"
        } ]
      },
      {
        "name": "Name & Email",
        "type": "name_email",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "key",
            "label": "Key",
            "default": "name_email",
            "info": "Input a unique identifer name (e.g. name_email)"
          },
          {
            "type": "header",
            "content": "Name Input"
          },
          {
            "type": "text",
            "id": "input_key_1",
            "label": "Key",
            "default": "name",
            "info": "Input a unique identifer name (e.g. name)"
          },
          {
            "type": "text",
            "id": "input_type_1",
            "label": "Input Type",
            "default": "text"
          },
          {
            "type": "text",
            "id": "input_placeholder_1",
            "label": "Label",
            "default": "Enter Your Name"
          },
          {
            "type": "header",
            "content": "Email Input"
          },
          {
            "type": "text",
            "id": "input_key_2",
            "label": "Key",
            "default": "email",
            "info": "Input a unique identifer name (e.g. email)"
          },
          {
            "type": "text",
            "id": "input_type_2",
            "label": "Input Type",
            "default": "email"
          },
          {
            "type": "text",
            "id": "input_placeholder_2",
            "label": "Label",
            "default": "Enter Your Email"
          },
          {
            "type": "header",
            "content": "Question"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Next Question"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "question",
            "label": "Question",
            "default": "Let’s begin, we want to get to know you better!"
          },
          {
            "type": "textarea",
            "id": "tip",
            "label": "Tip"
          }
        ]
      }
    ]
  }
{% endschema %}
