{%- for item in cart.items -%}
  {%- assign fields = item.product.metafields.accentuate -%}
  {%- assign preorder_enable = fields.product_pre_order_enable -%}
  {%- assign preorder_limit = fields.product_pre_order_limit | plus: 0 -%}

  {%- for options in item.product.options -%}
    {%- if preorder_enable and item.variant.inventory_quantity <= preorder_limit -%}
      {%- assign has_preorder = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}

{%- assign juicer_counter = 0 -%}

<div class="cart page">
    <div class="cart__container container-l">
        <header class="page-title" data-view="fadein-down">
            <h1 class="page-title__head">{{ 'cart.general.title' | t }}</h1>
            {%- unless cart.item_count > 0 -%}
                <p class="page-title__lead">{{ 'cart.general.empty' | t }}</p>
                <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
            {%- endunless -%}
        </header>
        {%- if has_preorder -%}
            <p class="cart-preorder"><span class="cart-preorder__icon"></span>{{ 'cart.general.pre_order' | t }}</p>
        {%- endif -%}
        <p class="cart-error"><span class="cart-error__icon"></span>We allow customers up to 3 juicers per order. Please reach out to <a href="mailto:support@huromcs.com">support@huromcs.com</a> for assistance in ordering a larger number of juicers.</p>
        {%- if cart.item_count > 0 -%}
            <section class="page-content" data-view="fadein-up">
                <form id="cart-form" action="/cart" method="post" novalidate>
                    <table class="table-cart table">
                        <thead>
                            <tr>
                                <th class="table-cart__featured-head">Product Image</th>
                                <th class="table-cart__item-head">{{ 'cart.label.product' | t }}</th>
                                <th class="table-cart__sku-head">{{ 'cart.label.sku' | t }}</th>
                                <th class="table-cart__price-head">{{ 'cart.label.price' | t }}</th>
                                <th class="table-cart__quantity-head">{{ 'cart.label.quantity' | t }}</th>
                                <th class="table-cart__total-head">{{ 'cart.label.total' | t }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%- for item in cart.items -%}
                                {%- if item.product.type contains 'Juicer' -%}
                                    {%- assign item_quantity = 0 -%}
                                    {%- assign over_count = 'false' -%}
                                    {%- if juicer_counter < 3 -%}
                                        {%- for i in (1..item.quantity) -%}
                                            {%- assign item_quantity = item_quantity | plus: 1 -%}
                                            {%- assign juicer_counter = juicer_counter | plus: 1 -%}
                                            {%- if juicer_counter >= 3 -%}
                                                {%- assign over_count = 'true' -%}
                                                {%- break -%}
                                            {%- endif -%}
                                        {%- endfor -%}
                                    {%- endif -%}
                                {%- endif -%}
                                {%- unless item.product.type contains 'Juicer' and item_quantity == 0 -%}
                                    <tr class="table-cart__product">
                                        <td class="table-cart__featured">
                                            <a href="{{ item.url | within: collections.all }}">
                                                <img src="{%- if item.image -%}{{ item.image | img_url: 'compact' }}{%- else -%}{{ 'fallback-product-item.svg' | asset_url }}{%- endif -%}" alt="{{ item.product.title }}">
                                            </a>
                                        </td>
                                        <td class="table-cart__item">
                                            <a class="table-cart__item-link link-s" href="{{ item.url }}">{{ item.product.title }}</a>
                                            <ul class="table-cart__item-data">
                                                <li class="table-cart__data-sku table-cart__data">{{ 'cart.label.sku' | t }}: {{ item.variant.sku }}</li>
                                                <li class="table-cart__data-price table-cart__data">{{ 'cart.label.price' | t }}: {{ item.price | money }}</li>
                                                {%- unless item.variant.title contains 'Default' -%}
                                                    <li class="table-cart__data-variant table-cart__data">
                                                        {{ item.variant.title }} <br>
                                                        {%- for property in item.properties -%}
                                                            {%- unless property.last contains 'Regular' -%}
                                                                -<br>
                                                                {{ property.first }}: {{ property.last }}
                                                            {%- endunless -%}
                                                        {%- endfor -%}
                                                    </li>
                                                {%- endunless -%}
                                                <li class="table-cart__data-quantity table-cart__data" data-counter="mobile"></li>
                                                <li class="table-cart__data-remove table-cart__data">
                                                    <a class="table-cart__data-remove-link link" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">{{ 'cart.general.remove' | t }}</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="table-cart__sku">
                                           {{ item.variant.sku }}
                                        </td>
                                        <td class="table-cart__price">
                                            {{ item.price | money }}
                                        </td>
                                        <td class="table-cart__quantity" data-counter="desktop">
                                            <input id="updates_{{ item.id }}" type="number" name="updates[]" value="{%- if over_count contains 'true' -%}{{ item_quantity }}{%- else -%}{{ item.quantity }}{%- endif -%}" min="0"{%- if item.product.type contains 'Juicer' -%} max="3"{%- endif -%} data-module="table-counter">
                                            <label class="sr-only" for="updates_{{ item.id }}">Selected quantity is {{ item_quantity }}</label>
                                        </td>
                                        <td class="table-cart__total">
                                            <span class="table-cart__total-price">
                                                {{ item.line_price | money }}
                                            </span>
                                            <a class="table-cart__total-remove-link" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">{{ 'cart.general.remove' | t }}</a>
                                        </td>
                                    </tr>
                                {%- endunless -%}
                            {%- endfor -%}
                        </tbody>
                    </table>
                    <div class="cart__final">
                        <div class="cart__final__gift-message">
                            <label class="cart__message-label" for="gift-message">Add a gift message to your order</label>
                            <textarea id="gift-message" class="field" cols="20" name="note" maxlength="300"></textarea>
                        </div>
                        <div class="cart__final__holder">
                            <button class="cart__final__update" type="submit" name="update">{{ 'cart.general.update' | t }}</button>
                            <div class="cart-summary">
                                <span class="cart-summary__subtotal">{{ 'cart.general.subtotal' | t }} <i class="cart-subtotal__price"><span class='ak-upsell-original-price'>{{ cart.total_price | money }}</span><span class='ak-upsell-cart-total'></span></i></span>
                                <span class="cart-summary__shipping">{{ 'cart.general.shipping_at_checkout' | t }}</span>
                                <p class="cart-summary__guarantee">{{ 'cart.general.guarantee' | t }}</p>
                            </div>
                            <div class="cart-action">
                                <a class="cart-action__continue-btn btn" title="Continue Shopping" href="/collections/all">Continue Shopping</a>
                                <div class="route-div"></div>
                                <input class="cart-action__submit-btn btn" type="submit" name="checkout" value="{{ 'cart.general.checkout' | t }}" title="{{ 'cart.general.checkout' | t }}" onClick="ga('send', 'event', 'Cart Page', 'Click: Checkout', 'Referrer: {{ page_title }}')">
                          </div>
                        </div>
                    </div>
                </form>
            </section>
        {%- endif -%}
    </div>
</div>

<script type="text/javascript">
  var juicers = {};
  var $cart = $('#cart-count');
  var $error = $('.cart-error');
  var $form = $('#cart-form');

  {%- assign limit = 0 -%}
  {%- for item in cart.items -%}
    {%- if item.product.type contains 'Juicer' -%}
      {%- for i in (1..item.quantity) -%}
        {%- assign limit = limit | plus: 1 -%}
        {%- if limit > 3 -%}
          $error.show();
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}

  {%- assign juicer_counter = 0 -%}
  {%- for item in cart.items -%}
    {%- if item.product.type contains 'Juicer' -%}
      {%- assign item_quantity = 0 -%}
      {%- if juicer_counter < 3 -%}
        {%- for i in (1..item.quantity) -%}
          {%- assign item_quantity = item_quantity | plus: 1 -%}
          {%- assign juicer_counter = juicer_counter | plus: 1 -%}
          {%- if juicer_counter >= 3 -%}
            $error.show();
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
      juicers['{{ item.id }}'] = '{{ item_quantity }}';
    {%- endif -%}
  {%- endfor -%}

  var ref_inventory = parseInt( '{{ item_quantity }}' );

  if( typeof ref_inventory != 'undefined' && ref_inventory >= 0 ) {
    $.post('/cart/update.js', {updates: juicers}).always(function() {
      $.getJSON('/cart.js', function(cart) {
        $cart.text('Cart (' + cart.item_count + ')');
      });
    });
  }

  function handleSubmitCart(e) {
    var limit = 0;

    {%- for item in cart.items -%}
      {%- if item.product.type contains 'Juicer' -%}
        limit = limit + parseInt($('#updates_{{ item.id }}').val());
      {%- endif -%}
    {%- endfor -%}

    if (limit > 3) {
      e.preventDefault();
      $('body').stop(true, true).animate({ scrollTop: 0 }, 300);
      $error.show();
    }
  }

  $form.on('submit', handleSubmitCart);
</script>

{%- assign preorder_enable = nil -%}
{%- assign preorder_limit = nil -%}
