<!-- /templates/page.ingredients.liquid -->

{% assign tag = page.title | handleize %}

{% if tag contains 'autumn' %}
	{% assign season = 'autumn' %}
	{% assign ingredient_twitter = 'https://twitter.com/home?status=The%20best%20ingredients%20for%20when%20the%20weather%20starts%20getting%20cooler.%20http%3A//bit.ly/2eKKgBF' %}
{% endif %}
{% if tag contains 'winter' %}
	{% assign season = 'winter' %}
	{% assign ingredient_twitter = 'https://twitter.com/home?status=All%20your%20favorite%20ingredients%20for%20making%20juice%20in%20a%20winter%20wonderland.%20http%3A//bit.ly/2eAzM2Y' %}
{% endif %}
{% if tag contains 'spring' %}
	{% assign season = 'spring' %}
	{% assign ingredient_twitter = 'https://twitter.com/home?status=Spring%20doesn%E2%80%99t%20just%20bring%20rain%20showers,%20it%20also%20has%20a%20great%20selection%20of%20juicing%20ingredients.%20http%3A//bit.ly/2dtqRUB' %}
{% endif %}
{% if tag contains 'summer' %}
	{% assign season = 'summer' %}
	{% assign ingredient_twitter = 'https://twitter.com/home?status=The%20perfect%20selection%20of%20ingredients%20to%20make%20juice%20with%20while%20the%20sand%20is%20between%20your%20toes.%20http%3A//bit.ly/2dDiGDV' %}
{% endif %}

{% assign ingredient_facebook = 'https://www.facebook.com/sharer/sharer.php?u=https%3A//www.hurom.com/pages/' | append: season | append: '-juicing-ingredients' %}
{% assign ingredient_pinterest = 'share-pinterest-seasons-' | append: season | append: '.jpg' | asset_url | prepend: 'https://pinterest.com/pin/create/button/?media=' | append: '&description=' %}
{% assign ingredient_email = 'mailto:?&subject=Hurom Seasonal Juicing Ingredients&body=https%3A//www.hurom.com/pages/' | append: season | append: '-juicing-ingredients' %}
{% assign ingredient_ga_category = 'Seasonal Ingredients Landing Pages - ' | append: season %}
{% assign ingredient_ga_referrer = season | capitalize | append: ' Juicing Ingredients' %}

<div class="ingredients {% if season %}is-{{ season }}{% endif %} page">
	{% include 'sticky-share',
		share_facebook: ingredient_facebook,
		share_twitter: ingredient_twitter,
		share_pinterest: ingredient_pinterest,
		share_email: ingredient_email,
		ga_category: ingredient_ga_category,
		ga_referrer: ingredient_ga_referrer %}


	<div class="ingredients__container container-ml">
	    <div class="ingredients-title">
	        <h2 class="ingredients-title__head h1">{{ page.title }}</h2>
	        <p class="ingredients-title__lead">{{ page.content | strip_html }}</p>
	    </div>

	    {% include 'ingredients-grid', season: season %}

	    <a class="ingredients-view btn-s"
			title="View {{ season | capitalize }} Ingredients Overview"
			data-dialog="modal-ingredient-{{ season | handleize }}"
			data-module="modal"
	    	onclick="ga('send', 'event', 'Seasonal Ingredients Landing Pages - {{ season | capitalize }}', 'Clicked View {{ season | capitalize }} Ingredients Overview - View Infographic', 'Referrer: {{ page_title }}')">
	    	View {{ season | capitalize }} Ingredients Overview
	    </a>
	</div>
</div>

{% include 'seasons-more', current: season %}

{% if season contains 'autumn' %} {% assign ingredients = 'pumpkin,kale,apple,pomegranate,autumn' | split: ',' %} {% endif %}
{% if season contains 'winter' %} {% assign ingredients = 'cabbage,sweet potato,beets,pear,winter' | split: ',' %} {% endif %}
{% if season contains 'spring' %} {% assign ingredients = 'spinach,pineapple,swiss chard,grapefruit,spring' | split: ',' %} {% endif %}
{% if season contains 'summer' %} {% assign ingredients = 'watermelon,cucumber,peach,strawberries,summer' | split: ',' %} {% endif %}

{% for ingredient in ingredients %}
	{% assign infographic = 'infographic-ingredient-' | append: ingredient | handleize | append: '.jpg' %}

	{% case ingredient %}
		{% when 'pumpkin' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2eKI0Kw' %}
		{% when 'kale' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2ewKwz5' %}
		{% when 'apple' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2ekDYaD' %}
		{% when 'pomegranate' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2dDkgFz' %}
		{% when 'autumn' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2edDGBW' %}
		{% when 'cabbage' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2epnNGO' %}
		{% when 'sweet potato' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2epmkQP' %}
		{% when 'beets' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2ewMkrW' %}
		{% when 'pear' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2ebPQxm' %}
		{% when 'winter' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2dtuVnS' %}
		{% when 'spinach' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2eppALZ' %}
		{% when 'pineapple' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2elHv8r' %}
		{% when 'swiss chard' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2eWrIgT' %}
		{% when 'grapefruit' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2enLS1F' %}
		{% when 'spring' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2et1X5n' %}
		{% when 'watermelon' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2ebcJia' %}
		{% when 'cucumber' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2ey1o8X' %}
		{% when 'peach' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2eLKlVD' %}
		{% when 'strawberries' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2eqqbgC' %}
		{% when 'summer' %}
			{% assign ingredient_twitter_url = 'http://bit.ly/2dGma8z' %}
	{% endcase %}

	<div id="modal-ingredient-{{ ingredient | handleize }}" class="dialog dialog-infographic">
	    <span class="dialog__overlay"></span>
	    <div class="dialog__content">
	    	<div class="dialog-infographic__wrapper">
		        <a class="dialog-infographic__close-btn" data-dialog-close>
		        	<span class="fallback">Close</span>
		        </a>
		    	<div class="dialog-infographic__share">
		    		<a class="dialog-infographic__link is-facebook"
		    			target="_blank"
		    			href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.hurom.com/pages/{{ season }}-juicing-ingredients%23modal-ingredient-{{ ingredient | handleize }}"
		    			title="Share on Facebook"
		    			onclick="ga('send', 'event', 'Seasonal Ingredients Landing Pages - {{ season | capitalize }}', 'Share on Facebook- {{ ingredient | capitalize }} Infographic', 'Referrer: {{ page_title }}')">
							<span class="fallback">Facebook</span>
					</a>
		    		<a class="dialog-infographic__link is-twitter"
		    			target="_blank"
		    			href="https://twitter.com/home?status={{ season | capitalize }}%20Juicing%20Ingredient%20-%20{{ ingredient | capitalize }}%20Infographic%20{{ ingredient_twitter_url }}"
		    			title="Share on Twitter"
		    			onclick="ga('send', 'event', 'Seasonal Ingredients Landing Pages - {{ season | capitalize }}', 'Share on Twitter - {{ ingredient | capitalize }} Infographic', 'Referrer: {{ page_title }}')">
							<span class="fallback">Twitter</span>
					</a>
		    		<a class="dialog-infographic__link is-pinterest"
		    			href="http://pinterest.com/pin/create/button/?url={{ infographic | asset_url }}&description={{ season | capitalize }}%20Juicing%20Ingredients%20-%20{{ ingredient | capitalize }}%20Infographic"
		    			title="Share on Pinterest"
		    			target="_blank"
		    			onclick="ga('send', 'event', 'Seasonal Ingredients Landing Pages - {{ season | capitalize }}', 'Share on Pinterest - {{ ingredient | capitalize }} Infographic', 'Referrer: {{ page_title }}')">
							<span class="fallback">Pinterest</span>
					</a>
		    		<button class="dialog-infographic__link is-copy"
		    			title="Copy Image Link"
		    			data-clipboard-text="{{ shop.url }}/pages/{{ page.handle }}#modal-ingredient-{{ ingredient | handleize }}"
		    			data-module="copy-link"
		    			onclick="ga('send', 'event', 'Seasonal Ingredients Landing Pages - {{ season | capitalize }}', 'Copy Link - {{ ingredient | capitalize }} Infographic', 'Referrer: {{ page_title }}')">
							<span class="fallback">Copy Link</span>
					</button>
					<p class="dialog-infographic__copy-message js-copy">Link copied!</p>
		    	</div>
	    		<img class="dialog-infographic__img b-lazy" data-src="{{ infographic | asset_url }}" alt="{{ ingredient | capitalize }} Infographic" title="{{ ingredient | capitalize }} Infographic">
	    	</div>
	    </div>
	</div>
{% endfor %}

{% assign tag = false %}
{% assign season = false %}
{% assign ingredients = false %}
{% assign ingredient_facebook = false %}
{% assign ingredient_twitter = false %}
{% assign ingredient_twitter_url = false %}
{% assign ingredient_pinterest = false %}
{% assign ingredient_email = false %}
{% assign ingredient_ga_category = false %}
{% assign ingredient_ga_referrer = false %}
