<!-- /templates/page.why-hurom.liquid -->

<div class="why-hurom page">
  {% include 'page-hero', hero_style: 'why-hurom' %}
  <section class="wh-intro">
    <div class="wh-intro__container container">
      <div class="wh-intro__title">
      <h2 class="wh-intro__head">Only The Best</h2>
      <p class="wh-intro__lead">We strive for the highest quality in everything we do. With a Hurom appliance, you not only get best-in-class in design and technology, you get the culmination of 40 years relentless research and development in the pursuit of perfection.</p>
      </div>
    </div>
  </section>
  <section class="wh-design">
    <div class="wh-design__container container">
      <div class="wh-design__images"></div>
    </div>
  </section>
  <section class="wh-reputation">
    <div class="wh-reputation__container container-xl">
      <div class="wh-reputation__block">
        <div class="wh-reputation__featured">
          <img class="wh-reputation__img" src="{{ 'wh-reputation-blender.jpg' | asset_url }}" alt="" title="Built on Innovation">
        </div>
        <div class="wh-reputation__info">
          <h3 class="wh-reputation__head">Built on Innovation</h3>
          <p class="wh-reputation__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="wh-reputation__block wh-reputation__block--right">
        <div class="wh-reputation__featured wh-reputation__featured--right">
          <img class="wh-reputation__img wh-reputation__img--right" src="{{ 'wh-reputation-juicer.jpg' | asset_url }}" alt="" title="Distinguished by Design">
        </div>
        <div class="wh-reputation__info wh-reputation__info--right">
          <h3 class="wh-reputation__head">Distinguished by Design</h3>
          <p class="wh-reputation__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="wh-reputation__block">
        <div class="wh-reputation__featured">
          <img class="wh-reputation__img" src="{{ 'wh-reputation-citrus-juicer.jpg' | asset_url }}" alt="" title="Dedication to Quality">
        </div>
        <div class="wh-reputation__info">
          <h3 class="wh-reputation__head">Dedication to Quality</h3>
          <p class="wh-reputation__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="wh-video">
    <div class="wh-video__container container">

      <div id="player-video" class="wh-video__holder">
        <iframe class="wh-video__player" data-src="https://www.youtube.com/embed/NC4LxoeQ_8g?modestbranding=0&amp;controls=0&amp;disablekb=1showinfo=0&amp;rel=0" src="" frameborder="0" allowfullscreen></iframe>
        <div class="wh-video__thumbnail">
            <a class="wh-video__btn-play" onClick="ga('send', 'event', 'Why Hurom Video', 'Play: Why Hurom Video', 'Referrer: {{ page_title }}')">
            </a>
            <img class="wh-video__img" src="{{ 'wh-video-thumbnail.png' | asset_url }}" alt="Hurom Almond Milk Recipe" title="Hurom Almond Milk Recipe">
        </div>
      </div>

      <div class="wh-video__mobile">
        <div class="wh-video__images"></div>
      </div>

    </div>
  </section>
  <section class="wh-guarantee">
    <div class="wh-guarantee__container container-l">
      <div class="wh-guarantee__holder">
        <div class="wh-guarantee__block fx-3">
          <i class="wh-guarantee__icon icon-warranty">
            {%- include 'icon' with 'icon-warranty' -%}
          </i>
          <h3 class="wh-guarantee__head">10 Year Warranty</h3>
          <p class="wh-guarantee__label">Unlike our competitors, we use a long-lasting AC motor that comes with a 10 year warranty.</p>
        </div>
        <div class="wh-guarantee__block fx-3">
          <i class="wh-guarantee__icon icon-star">
            {%- include 'icon' with 'icon-star' -%}
          </i>
          <h3 class="wh-guarantee__head">Exceptional Service</h3>
          <p class="wh-guarantee__label">Add copy here about Hurom’s dedication to to providing exceptional customer service.</p>
        </div>
        <div class="wh-guarantee__block fx-3">
          <i class="wh-guarantee__icon icon">
            {%- include 'icon' with 'icon-planet-radiate' -%}
          </i>
          <h3 class="wh-guarantee__head">Quality Assurance</h3>
          <p class="wh-guarantee__label">Over a million customers in more than 70 countries are using our appliances, making Hurom the global leader.</p>
        </div>
      </div>
    </div>
  </section>
  <hr data-view="expand-wide">
  <section class="wh-product">
    <div class="wh-product__container container-l">
      <div class="wh-product__block">
        <div class="wh-product__featured">
          <img class="wh-product__img" src="{{ 'wh-product-juicer.jpg' | asset_url }}" alt="" title="Built on Innovation">
        </div>
        <div class="wh-product__info">
          <h2 class="wh-product__head">Slow Juicers</h2>
          <ul class="wh-product__content">
            <li>Higher yield, we strive to squeeze every drop of juice, as much as 35% more.</li>
            <li>Made of materials like ultem, tritan, and stainless steel, some of which are used to build spaceships.</li>
            <li>Breathtakingly great tasting unprocessed juice that lasts up to 72 hours.</li>
            <li>With a Hurom juicer, you can confidently pick and choose from a wide range of ingredients.</li>
          </ul>
          <a class="__button btn" href="/collections" onclick="ga('send', 'event', 'Why Hurom Slow Juicers', 'Click: /collections', 'Referrer: Why Hurom | Hurom')" tabindex="0">Shop Juicers</a>
        </div>
      </div>
      <div class="wh-product__block wh-reputation__block--right">
        <div class="wh-product__featured wh-product__featured--right">
          <img class="wh-product__img wh-product__img--right" src="{{ 'wh-product-blender.jpg' | asset_url }}" alt="" title="Distinguished by Design">
        </div>
        <div class="wh-product__info wh-product__info--right">
          <h2 class="wh-product__head">Blenders</h2>
          <ul class="wh-product__content">
            <li>Higher yield, we strive to squeeze every drop of juice, as much as 35% more.</li>
            <li>Made of materials like ultem, tritan, and stainless steel, some of which are used to build spaceships.</li>
            <li>Breathtakingly great tasting unprocessed juice that lasts up to 72 hours.</li>
            <li>With a Hurom juicer, you can confidently pick and choose from a wide range of ingredients.</li>
          </ul>
          <a class="__button btn" href="/collections" onclick="ga('send', 'event', 'Why Hurom Blenders', 'Click: /collections', 'Referrer: Why Hurom | Hurom')" tabindex="0">Shop Blenders</a>
        </div>
      </div>
      <div class="wh-product__block">
        <div class="wh-product__featured">
          <img class="wh-product__img" src="{{ 'wh-product-citrus-juicer.jpg' | asset_url }}" alt="" title="Dedication to Quality">
        </div>
        <div class="wh-product__info">
          <h2 class="wh-product__head">Citrus Juicers</h2>
          <ul class="wh-product__content">
            <li>Higher yield, we strive to squeeze every drop of juice, as much as 35% more.</li>
            <li>Made of materials like ultem, tritan, and stainless steel, some of which are used to build spaceships.</li>
            <li>Breathtakingly great tasting unprocessed juice that lasts up to 72 hours.</li>
            <li>With a Hurom juicer, you can confidently pick and choose from a wide range of ingredients.</li>
          </ul>
          <a class="__button btn" href="/collections" onclick="ga('send', 'event', 'Why Hurom Citrus Juicers', 'Click: /collections', 'Referrer: Why Hurom | Hurom')">Shop Citrus Juicers</a>
        </div>
      </div>
    </div>
  </section>
</div>
<script type="text/javascript">
  var $video = $( '.wh-video__player' ),
      $thb = $( '.wh-video__thumbnail' ),
      $btn = $thb.find( '.wh-video__btn-play ' ),
      youtubeURL = $video.attr( 'data-src' ) + '&autoplay=1',
      speed = 300;

  // Fix YouTube video caching issues when coming back / leaving the page.
  $video.attr( 'src', '' );

  // Autoplay video and fade out video thumbnail when clicking on 'play' video button.
  $btn.on( 'click', function() {
      setTimeout( function() {
        $video.attr( 'src', youtubeURL );
        $thb.stop( true, true ).fadeOut( speed );
      }, 200 );
  } );
</script>
