{% layout 'theme.holidays' %}

{% assign colors = 'orange,blue,green,red,gold,white' | split: ',' %}

<section class="hol-landing" data-module="holidays-board">
	<div class="hol-landing__holder">
		{% for color in colors %}
			{% assign featured = color | prepend: 'holidays-tile-featured-' | append: '.jpg' %}
			{% assign featured_mobile = color | prepend: 'holidays-tile-mobile-featured-' | append: '.jpg' %}

			{% case color %}
				{% when 'orange' %}
					{% assign title = 'Hurom HZ Slow Juicer<br>Gift for Wife' %}
					{% assign number = '1' %}
					{% assign url = '/pages/hurom-holidays-pumpkin-orange' %}
				{% when 'blue' %}
					{% assign title = 'Hurom H-AA Slow Juicer<br>Gift for Husband' %}
					{% assign number = '2' %}
					{% assign url = '/pages/hurom-holidays-frosted-midnight-blue' %}
				{% when 'green' %}
					{% assign title = 'Hurom HH Elite Silver<br>Gift for Foodies' %}
					{% assign number = '3' %}
					{% assign url = '/pages/hurom-holidays-forest-green' %}
				{% when 'red' %}
					{% assign title = 'Hurom HH Elite Wine<br>Gift for Fitness Lovers' %}
					{% assign number = '4' %}
					{% assign url = '/pages/hurom-holidays-bright-berry-red' %}
				{% when 'gold' %}
					{% assign title = 'Hurom HT Slow Juicer<br>Gift for the Hostess' %}
					{% assign number = '5' %}
					{% assign url = '/pages/hurom-holidays-glimmering-gold' %}
				{% when 'white' %}
					{% assign title = 'Hurom HP Slow Juicer<br>Gift for the Yogi' %}
					{% assign number = '6' %}
					{% assign url = '/pages/hurom-holidays-fresh-winter-white' %}
			{% endcase %}

			<a class="hol-tile is-{{ color }}" href="{{ url }}" title="{{ title }}">
				<span class="hol-number">0{{ number }}</span>
				<span class="hol-title h6">{{ title }}</span>
				<div class="hol-scroll is-{{ color }}" title="Scroll">
					<span class="hol-scroll__arrow">
						{% include 'ico-holidays', icon: 'arrow' %}
					</span>
					<span class="hol-scroll__ribbon">
						{% include 'ico-holidays', icon: 'ribbon' %}
					</span>
				</div>
				<div class="hol-tile__featured on-mobile" style="background-image:url( {{ featured_mobile | asset_img_url: '1400x', format: 'pjpg' }} );"></div>
				<div class="hol-tile__featured on-desktop" style="background-image:url( {{ featured | asset_img_url: '2200x', format: 'pjpg' }} );"></div>
			</a>
		{% endfor %}
	</div>
</section>

{% assign featured = false %}
{% assign colors = false %}
{% assign color = false %}
{% assign title = false %}
{% assign number = false %}
{% assign position = false %}
{% assign url = false %}
