<!-- /templates/page.contact.liquid -->

<div class="contact page">
    <div class="contact__container container-s">
        {% form 'contact' %}
            {% if form.posted_successfully? %}
                <header class="page-title" data-view="fadein-down">
                    <h1 class="page-title__head">{{ 'contact.form.title_success' | t }}</h1>
                    <p class="page-title__lead">{{ 'contact.form.post_success' | t }}</p>
                </header>
                {% include 'browse-all' with 'contact' %}
            {% else %}
                <header class="page-title" data-view="fadein-down">
                    <h1 class="page-title__head">{{ page.title }}</h1>
                    <p class="page-title__lead">{{ page.content | replace: '<p>', '' | replace: '</p>', '' }}</p>
                </header>
                <section class="page-content page-content--with-form" data-view="fadein-up">
                    <div class="row clearfix">
                        {% assign name_attr = 'contact.form.name' | t | handle %}
                        <label for="contact-name" class="label">{{ 'contact.form.name' | t }}</label>
                        <input id="contact-name" class="field" type="text" name="contact[{{ name_attr }}]" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required>
                    </div>
                    <div class="row clearfix">
                        <div class="el-1-2">
                            <label for="contact-email" class="label">{{ 'contact.form.email' | t }}</label>
                            <input id="contact-email" class="field{% if form.errors contains 'email' %} field--error{% endif %}" type="email" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required>
                            {% if form.errors contains 'email' %}
                                    <span class="error">{{ 'contact.form.error' | t }}</span>
                            {% endif %}
                        </div>
                        <div class="el-1-2">
                            {% assign name_attr = 'contact.form.phone' | t | handle %}
                            <label for="contact-phone" class="label">{{ 'contact.form.phone' | t }}</label>
                            <input id="contact-phone" class="field" type="tel" name="contact[{{ name_attr }}]" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                        </div>
                    </div>
                    <div class="row clearfix">
                        {% assign name_attr = 'contact.form.subject' | t | handle %}
                        <label for="contact-subject" class="label">{{ 'contact.form.subject' | t }}</label>
                        <input id="contact-subject" class="field" type="text" name="contact[{{ name_attr }}]" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}" required>
                    </div>
                    <div class="row clearfix">
                        <label for="contact-message" class="label">{{ 'contact.form.message' | t }}</label>
                        <textarea id="contact-message" class="textarea" name="contact[body]" required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
                    </div>
                    <div class="row clearfix align-c">
                        <input class="btn-s" type="submit" value="{{ 'contact.form.send' | t }}">
                    </div>
                </section>
            {% endif %}
        {% endform %}
    </div>
</div>
