<!-- /templates/page.facebook.liquid -->

<div class="index page">
    {% include 'page-hero', hero_style: 'juicero' %}

    {% include 'block-difference' %}

    {% include 'block-quality' %}

    <section class="block-critics">
        <div class="block-critics__container container-xl">
            <div class="block-critics__holder">
                <h2 class="__head">What Critics & Customers Are Saying</h2>
                <p class="__description">"If you don’t have much experience with juicers, you might think that they’re all the same: You put in some fruit, and out comes juice. But we recently had the opportunity to sample the H-AA, Hurom’s flagship model, and if you’re in the market for a high-end juicer, this one is a game-changer.</p>
                <a class="__critics" href="#">The Daily Meal"</a>
            </div>

            <hr data-view="expand-wide">

            <div class="block-critics__holder">
                <ul class="__review">
                    <li class="__star"></li>
                    <li class="__star"></li>
                    <li class="__star"></li>
                    <li class="__star"></li>
                    <li class="__star"></li>
                </ul>
                <p class="__description">"I LOVE this juicer! It’s so easy to operate and clean that I use it EVERYDAY… sometimes 2 or 3 times a day. I’ve saved so much money (no longer buying juice from stores) and really enjoy making my own recipes. I even travel with my Hurom Juicer when visiting friends and family so I can turn them onto juicing. Crazy, but that’s how much I love it :)"</p>
                <span class="__customer" href="#">Catherine B.</span>
            </div>
        </div>
    </section>

    <section class="block-juicers">
        <div class="block-juicers__container container-m">
            <div class="block-juicers__title">
                <h2 class="__head">Meet Our Top Juicers</h2>
              <h4>For a limited time, get <strong>30% off</strong> any Hurom juicer with the code JUICERO</h4>
            </div>
            <div class="block-juicers__group">
                <a class="__juicer" href="/products/h-aa-slow-juicer" alt="Learn More on Hurom H-AA Slow Juicer" onClick="ga('send', 'event', 'Custom Landing Page', 'Clicked Hurom H-AA Slow Juicer - Learn More CTA', 'Referrer: {{ page_title }}')">
                    <div class="__featured">
                       <img class="__img" src="{{ 'facebook-juicer-haa.jpg' | asset_url }}" title="Hurom H-AA Slow Juicer" alt="Hurom H-AA Slow Juicer">
                    </div>
                    <h3 class="__name">H-AA</h3>
                    <span class="__price">$439</span>
                    <p class="__description">Our sleek black juicer can make ice cream in its chamber and features our latest Alpha Technology for easy cleaning and great squeeze.</p>
                    <span class="__button btn">Learn More</span>
                </a>
                <a class="__juicer" href="/products/hz-slow-juicer" alt="Learn More on Hurom HZ Slow Juicer" onClick="ga('send', 'event', 'Custom Landing Page', 'Clicked Hurom HZ Slow Juicer - Learn More CTA', 'Referrer: {{ page_title }}')">
                    <div class="__featured">
                       <img class="__img" src="{{ 'facebook-juicer-hz.jpg' | asset_url }}" title="Hurom HZ Slow Juicer" alt="Hurom HZ Slow Juicer">
                    </div>
                    <h3 class="__name">HZ</h3>
                    <span class="__price">$599</span>
                    <p class="__description">Features the same Alpha Technology capabilities as the H-AA but comes in a durable, stainless steel finish and LED indicators. Great for families.</p>
                    <span class="__button btn" href="/products/hz-slow-juicer" alt="Learn More">Learn More</span>
                </a>
                <a class="__juicer" href="/products/hh-elite-slow-juicer" alt="Learn More on Hurom HH Elite Slow Juicer" onClick="ga('send', 'event', 'Custom Landing Page', 'Clicked Hurom HH Elite Slow Juicer - Learn More CTA', 'Referrer: {{ page_title }}')">
                    <div class="__featured">
                       <img class="__img" src="{{ 'facebook-juicer-hhelite.jpg' | asset_url }}" title="Hurom HH Elite Slow Juicer" alt="Hurom HH Elite Slow Juicer">
                    </div>
                    <h3 class="__name">HH Elite</h3>
                    <span class="__price">$399</span>
                    <p class="__description">Our best-selling and award-winning juicer, the HH Elite is tried and true. Our classic juicer is great for everyday use and available at an amazing price.</p>
                    <span class="__button btn">Learn More</span>
                </a>
            </div>
            <a class="block-juicers__link btn-s" href="/pages/compare-hurom-juicers" alt="See and Compare All Our Juicers" onClick="ga('send', 'event', 'Custom Landing Page', 'Clicked Clicked Compare Juicers CTA', 'Referrer: {{ page_title }}')">See and Compare All Our Juicers</a>
        </div>
    </section>

    <section class="block-instagram">
        <div class="block-instagram__container container-xl">
            <div class="block-instagram__title fx-2">
                <h2 class="__head">Follow Us on Instagram</h2>
                <a class="__link link-s" href="https://www.instagram.com/huromamerica/" alt="@huromamerica" target="_blank">@huromamerica</a>
            </div>
            <div class="block-instagram__featured fx-2">
                <img class="__img" src="{{ 'facebook-instagram.jpg' | asset_url }}" alt="Juice made by Hurom slow juicer" title="Juice by Hurom">
            </div>
        </div>
    </section>
</div>
