<div id="modal-ingredient-{{ season }}" class="dialog dialog-infographic {{ class }}">
    <span class="dialog__overlay"></span>
    <div class="dialog__content">
        <div class="dialog-infographic__wrapper">
            <a class="dialog-infographic__close-btn" data-dialog-close>
                <span class="fallback">Close</span>
            </a>
            <div class="dialog-infographic__share">
                <a class="dialog-infographic__link is-facebook"
                   target="_blank"
                   href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.hurom.com/pages/seasonal-juicing-ingredients%23modal-ingredient-{{ season }}"
                   title="Share on Facebook"
                   onclick="ga('send', 'event', 'All Seasons Landing Page', 'Share on Facebook - {{ season | capitalize }} Infographic', 'Referrer: {{ page_title }}')">
                    <span class="fallback">Facebook</span>
                </a>
                <a class="dialog-infographic__link is-twitter"
                   target="_blank"
                   href="{{ modal_twitter }}"
                   title="Share on Twitter"
                   onclick="ga('send', 'event', 'All Seasons Landing Page', 'Share on Twitter - {{ season | capitalize }} Infographic', 'Referrer: {{ page_title }}')">
                    <span class="fallback">Twitter</span>
                </a>
                <a class="dialog-infographic__link is-pinterest"
                   target="_blank"
                   href="http://pinterest.com/pin/create/button/?url={{ infographic | asset_url }}&description=Hurom%20Guide%20to%20{{ season | capitalize }}%20Juicing%20Ingredients"
                   title="Share on Pinterest"
                   onclick="ga('send', 'event', 'All Seasons Landing Page', 'Share on Pinterest - {{ season | capitalize }} Infographic', 'Referrer: {{ page_title }}')">
                    <span class="fallback">Pinterest</span>
                </a>
                <button class="dialog-infographic__link is-copy"
                        data-clipboard-text="{{ shop.url }}/pages/{{ page.handle }}#modal-ingredient-{{ season }}"
                        data-module="copy-link"
                        onclick="ga('send', 'event', 'All Seasons Landing Page', 'Copy Link - {{ season | capitalize }} Infographic', 'Referrer: {{ page_title }}')">
                    <span class="fallback">Copy Link</span>
                </button>
                <p class="dialog-infographic__copy-message js-copy">Link copied!</p>
            </div>
            <img class="dialog-infographic__img b-lazy" data-src="{{ infographic | asset_url }}" alt="{{ season | capitalize }} Infographic" title="{{ season | capitalize }} Infographic">
        </div>
    </div>
</div>
