{%- assign mod_class = mod_class | default: blank -%}
{%- assign mod_title = mod_title | default: blank -%}
{%- assign mod_text = mod_text | default: blank -%}
{%- assign mod_image_src = mod_image_src | default: blank -%}
{%- assign mod_url = mod_url | default: blank -%}

{%- capture mod_css %}
  featured-tile {{ mod_class }}
{%- endcapture %}

<div class="{{- mod_css | strip -}}">
  <a class="featured-tile__wrapper" href="{{- mod_url -}}">
    <div class="featured-tile__ratio ratio">
      {%- include 'image',
        mod_class: 'featured-tile__image',
        mod_loader: false,
        mod_text: '',
        mod_src: mod_image_src -%}
    </div>

    {%- if mod_title != blank -%}
      <div class="featured-tile__content">
        <h2 class="featured-tile__title hurom-h2">
          {{- mod_title -}}
        </h2>

        {%- if mod_text != blank -%}
          <p class="featured-tile__text">
            {{- mod_text -}}
          </p>
        {%- endif -%}
      </div>
    {%- endif -%}
  </a>
</div>

{%- assign mod_class = nil -%}
{%- assign mod_title = nil -%}
{%- assign mod_text = nil -%}
{%- assign mod_image_src = nil -%}
{%- assign mod_url = nil -%}
{%- assign mod_css = nil -%}
