<!-- /snippets/modules/ingredients-grid.liquid -->

{% case season %}
	{% when 'autumn' %}
		{% assign ingredients = 'pumpkin, kale, apple, pomegranate' | split: ',' %}
	{% when 'winter' %}
		{% assign ingredients = 'cabbage, sweet potato, beets, pear' | split: ',' %}
	{% when 'spring' %}
		{% assign ingredients = 'spinach, pineapple, swiss chard, grapefruit' | split: ',' %}
	{% when 'summer' %}
		{% assign ingredients = 'watermelon, cucumber, peach, strawberries' | split: ',' %}
{% endcase %}

{% if ingredients %}
	<section class="ingredients-grid">
		<h3 class="ingredients-grid__head h4">Click to View Infographics Below</h3>
		<div class="ingredients-grid__list">
			{% for ingredient in ingredients %}
				{% assign ingredient_image = 'ico-' | append: season | append: '-sprite.svg' %}
				<a class="ingredients-grid__item"
					title="View {{ ingredient | strip | capitalize }} Infographic"
					data-dialog="modal-ingredient-{{ ingredient | strip | handleize }}"
					data-module="modal"
					onclick="ga('send', 'event', 'Seasonal Ingredients Landing Pages - {{ season | capitalize }}', 'Clicked {{ ingredient | strip | capitalize }} - View Infographic', 'Referrer: {{ page_title }}')">
					<i class="ingredients-grid__icon is-{{ season }} is-{{ ingredient | strip | handleize }} b-lazy" data-src="{{ ingredient_image | asset_url }} "></i>
					<div class="ingredients-grid__info">
						<h4 class="ingredients-grid__name h3">{{ ingredient | strip | capitalize }}</h4>
						<span class="ingredients-grid__link link-s">View Infographic</span>
					</div>
				</a>
			{% endfor %}
		</div>
	</section>
{% endif %}

{% assign ingredients = false %}
