<!-- /snippets/modules/header.liquid -->
{%- assign currency = shop.currency -%}
{%- assign country = settings.country -%}

<header class="header{% unless template contains 'product' or template contains 'page.compare-juicers' %} header--fixed{% endunless %}{% if template contains 'product' %} header--fixed-mobile{% endif %}{% if template == 'index' %} header--{{ settings.header_style }}{% endif %} js-header" data-module="header">
    <div class="header__overlay"></div>
    <div class="header__container container-sp">
        <nav class="main-nav">
            <ul class="main-nav__list">
                {% for link in linklists.main-menu.links %}
                    <li class="main-nav__item">
                      <a class="main-nav__link{% if link.active %} main-nav__link--active{% endif %}{% if link.url contains 'collections' %}{% for link in linklists.collection-list.links %}{% if link.active %} main-nav__link--active{% endif %}{% endfor %}{% endif %}" href="{{ link.url }}"{% if link.url contains 'collections' %} data-drop{% endif %} onClick="ga('send', 'event', 'Header Navigation', 'Click: {{ link.url }}', 'Referrer: {{ page_title }}')">
                        {{ link.title }}
                        {%- if link.url contains 'collections' %}
                          <i class="user-nav__ico-caret-down"></i>
                        {%- endif -%}
                      </a>
                        {% if link.url contains 'collections' %}
                            <div class="main-dropdown main-dropdown--nav js-nav" data-item="dropdown">
                                <div class="dropdown-nav__container container-sp js-nav-container">
                                    <div class="dropdown-nav__inner">
                                        <div class="dropdown-nav__ctas">
                                            <a class="dropdown-nav__btn btn" href="/pages/compare-hurom-juicers" title="{{ 'layout.mobile_navigation.compare_juicers' | t }}" onClick="ga('send', 'event', 'Header Navigation', 'Click: /pages/compare-hurom-juicers', 'Referrer: {{ page_title }}')">{{ 'layout.mobile_navigation.compare_juicers' | t }}</a>
                                            <a class="dropdown-nav__btn btn-s" href="/collections/all" title="{{ 'layout.mobile_navigation.shop' | t }}" onClick="ga('send', 'event', 'Header Navigation', 'Click: /collections/all', 'Referrer: {{ page_title }}')">{{ 'layout.mobile_navigation.shop' | t }}</a>
                                        </div>
                                        {% if linklists.nav-menu.links != blank %}
                                            <ul class="dropdown-nav__list js-nav-list">
                                                {% for link in linklists.nav-menu.links %}
                                                    <li class="dropdown-nav__item">
                                                        <a href="{{ link.url }}" class="nav-title dropdown-nav__item-link">{{ link.title }}</a>
                                                        {% if link.links != blank %}
                                                            <ul class="dropdown-nav__sub-link">
                                                                {% for child_link in link.links %}
                                                                    {%- assign child_handle = child_link.url | remove: "/products/" -%}
                                                                    {%- assign product = all_products[child_handle] -%}
                                                                    <li class="dropdown-nav__sub-item">
                                                                        <a href="{{ child_link.url }}" class="nav-text dropdown-nav__sub-item-link">{{ child_link.title }}</a>
                                                                        <div class="dropdown-nav__sub-item-detail js-nav-item-detail">
                                                                            <div class="sub-item-detail__info">
                                                                                <h3 class="nav-title sub-item-detail__title">{{ product.title }}</h3>
                                                                                {%- if product.metafields.accentuate.hover_description != blank -%}
                                                                                    {%- assign product_description = product.metafields.accentuate.hover_description -%}
                                                                                {%- else -%}
                                                                                    {%- assign product_description = product.description -%}
                                                                                {%- endif -%}
                                                                                <div class="nav-text sub-item-detail__description">{{ product_description | strip_html | truncate: 250 }}</div>
                                                                            </div>
                                                                            <div class="sub-item-detail__image-wrapper">
                                                                                {%- if product.metafields.accentuate.hover_image != blank -%}
                                                                                    {%- assign product_image = product.metafields.accentuate.hover_image -%}
                                                                                {%- else -%}
                                                                                    {%- assign product_image = product.featured_image | img_url: '700x' -%}
                                                                                {%- endif -%}
                                                                                <img class="sub-item-detail__image" src="{{ product_image }}" alt="{{ product.title }}">
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {%- endfor -%}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <span role="button" tabindex="0" aria-label="open menu" class="mobile-burger" data-trigger="mobile-nav">
            <i class="mobile-burger__icon"></i>
        </span>

        <aside class="main-drawer" data-item="drawer" {% unless template contains 'product' or template contains 'index' %}data-page-load{% endunless %}>
            <div class="main-drawer__container">
                <div class="search-bar">
                    <div class="search-bar__container container-sp">
                        <form class="search-bar__form" action="/search" method="get">
                            <label for="search-bar" class="sr-only">{{ 'general.search.placeholder' | t }}</label>
                            <input id="search-bar" class="search-bar__field" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" autocomplete="off">
                            <button aria-label="Submit" class="search-bar__btn" type="submit" onClick="ga('send', 'event', 'Search', 'Click: Search', 'Referrer: {{ page_title }}')">
                              {% include 'icon' with 'icon-search' %}
                            </button>
                        </form>
                    </div>
                </div>
                <nav class="mobile-nav">
                    <div class="mobile-nav__container container-sp">
                        {% if linklists.nav-menu.links != blank %}
                            <div class="mobile-nav__collection-list">
                                {% for link in linklists.nav-menu.links %}
                                    <div class="mobile-nav__collection mobile-nav__accordion">
                                        <div class="mobile-nav-collection__title">
                                            <a href="{{ link.url }}" class="nav-title mobile-nav-collection__title-text">{{ link.title }}</a>
                                            <button class="mobile-nav-collection__toggle js-nav-accordion-toggle" aria-expanded="false">
                                                <img class="mobile-nav-collection__toggle-icon" src="{{ 'ico-accordion-expand.svg' | asset_url }}" alt="Expand Toggle Icon" />
                                            </button>
                                        </div>
                                        {% if link.links != blank %}
                                            <div class="mobile-nav__product-list mobile-nav__accordion-content">
                                                {% for child_link in link.links %}
                                                    {%- assign child_handle = child_link.url | remove: "/products/" -%}
                                                    {%- assign product = all_products[child_handle] -%}
                                                    <a href="{{ child_link.url }}" class="mobile-nav__product">
                                                        <div class="mobile-nav-product__image-wrapper">
                                                            <img class="mobile-nav-product__image" src="{{ product.featured_image | img_url: '400x' }}" alt="{{ product.title }}">
                                                        </div>
                                                        <h4 class="nav-text mobile-nav-product__title">{{ child_link.title }}</h4>
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                {%- endfor -%}
                            </div>
                        {% endif %}
                        <div class="mobile-nav__ctas">
                            <a class="mobile-nav__btn btn" href="/pages/compare-hurom-juicers" onClick="ga('send', 'event', 'Header Navigation', 'Click: /pages/compare-hurom-juicers', 'Referrer: {{ page_title }}')">{{ 'layout.mobile_navigation.compare_juicers' | t }}</a>
                            <a class="mobile-nav__btn btn-s" href="/collections/all" onClick="ga('send', 'event', 'Header Navigation', 'Click: /collections/all', 'Referrer: {{ page_title }}')">{{ 'layout.mobile_navigation.shop' | t }}</a>
                        </div>
                        <hr>
                        <ul class="mobile-nav__list">
                            {% for link in linklists.main-menu.links %}
                                {% unless link.url contains 'collections' %}
                                    <li class="mobile-nav__item">
                                        <a class="nav-text mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}" href="{{ link.url }}" onClick="ga('send', 'event', 'Header Navigation', 'Click: {{ link.url }}', 'Referrer: {{ page_title }}')">{{ link.title }}</a>
                                    </li>
                                {% endunless %}
                            {% endfor %}
                            <li class="mobile-nav__item">
                                <a class="nav-text mobile-nav__link{% if template contains 'account' or template contains 'login' or template contains 'addresses' or template contains 'order' or template contains 'register' or template contains 'reset_password' or template contains 'activate_account' %} mobile-nav__link--active{% endif %}" href="/account" onClick="ga('send', 'event', 'Header Navigation', 'Click: /account', 'Referrer: {{ page_title }}')">{{ 'layout.navigation.log_in' | t }}</a>
                            </li>
                            <li class="mobile-nav__item mobile-nav__accordion">
                                <button class="nav-text mobile-nav__link mobile-nav__country-toggle js-nav-accordion-toggle" aria-expanded="false">{{ 'layout.country_selector.pick_location' | t }}</button>
                                <ul class="mobile-nav__list mobile-nav__list--country mobile-nav__accordion-content">
                                    {% for link in linklists.country-menu.links %}
                                        <li class="mobile-nav__item mobile-nav__item--country">
                                            <a class="mobile-nav__link country-dropdown__link{% if country contains link.title | handle %} country-dropdown__link--active{% endif %} flag store-{{ link.title | handleize }}" href="{{- link.url -}}{%- unless country contains link.title -%}?redirect=false{%- endunless -%}" onClick="ga('send', 'event', 'Header Navigation', 'Click: {{ link.url }}', 'Referrer: {{ page_title }}')">
                                              {% case link.title %}
                                                  {% when 'US' %}
                                                      {{- 'layout.country_selector.united_states' | t -}}
                                                  {% when 'CA' %}
                                                      {{- 'layout.country_selector.canada' | t -}}
                                              {% endcase %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        <hr>
                        <div class="mobile-nav__newsletter">
                            <h5 class="nav-title mobile-nav-newsletter__head">{{ settings.header_form_title }}</h5>
                            <div class="mobile-nav-newsletter__holder">
                                <form id="mc-embedded-subscribe-form" class="mobile-nav-newsletter__form" action="//hurom.us10.list-manage.com/subscribe/post-json?u=e591cf0ac90ff25a1c5fcc40f&amp;id=419d71ffe2&amp;c=?" method="post" method="post" name="mc-embedded-subscribe-form" novalidate>
                                    <label class="sr-only" for="mce-email-header">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
                                    <input id="mce-email-header" class="mobile-nav-newsletter__field field" type="email" placeholder="{{ 'general.newsletter_form.newsletter_email_header' | t }}" name="EMAIL" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                                    {% case settings.country %}
                                      {% when 'US' %}
                                        <input type="checkbox" value="8" name="group[8861][8]" id="mce-group[8861]-8861-0" aria-hidden="true" tabindex="-1" style="display:none;" checked>
                                        <label class="sr-only" for="mce-group[8861]-8861-0">US</label>
                                      {% when 'CA' %}
                                        <input type="checkbox" value="536870912" name="group[8861][536870912]" id="mce-group[8861]-8861-26" aria-hidden="true" tabindex="-1" style="display:none;" checked>
                                      <label class="sr-only" for="mce-group[8861]-8861-26">CA</label>
                                    {% endcase %}

                                    <button id="mc-embedded-subscribe" class="mobile-nav-newsletter__btn btn" type="submit" name="subscribe">{{ 'contact.form.send' | t }}</button>
                                    <span class="error hidden">{{ 'general.newsletter_form.error' | t }}</span>
                                    <!-- real people should not fill this in and expect good things -->
                                    <div class="mce_hidden sr-only" style="display: none">
                                      <input id="0001" type="text" aria-hidden="true" name="b_b27ba410d303e0a239c8ba8e5_3568ace95e" tabindex="-1" value="">
                                      <label class="sr-only" for="0001">hidden value</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </aside>
        {%- if template contains 'collection' -%}
          <h1>
        {%- endif -%}
        <a class="main-logo" href="{% if shop.url contains 'https' %}{{ shop.url }}{% else %}{{ shop.url | replace: 'http', 'https' }}{% endif %}" aria-label="{{ shop.name }}" onClick="ga('send', 'event', 'Header Navigation', 'Click: {{ shop.url }}', 'Referrer: {{ page_title }}')">
          {%- include 'logo' with 'logo-name' -%}
        </a>
        {%- if template contains 'collections' -%}
          </h1>
        {%- endif -%}
        <nav class="user-nav">
            <ul class="user-nav__list">
                <li class="user-nav__item user-nav__item--country" title="{{ country }}">
                    <button aria-label="{{ country }}" class="user-nav__link flag store-{{ country | handleize }}" data-drop>
                        <i class="user-nav__ico-caret-down"></i>
                    </button>
                    <div class="main-dropdown main-dropdown--country" data-item="dropdown">
                        <ul class="main-dropdown__list--country">
                            {% for link in linklists.country-menu.links %}
                                <li class="main-dropdown__item">
                                    <a class="country-dropdown__link{% if country contains link.title | handle %} country-dropdown__link--active{% endif %} flag store-{{ link.title | handleize }}" href="{{- link.url -}}{%- unless country contains link.title -%}?redirect=false{%- endunless -%}" onClick="ga('send', 'event', 'Header Navigation', 'Click: {{ link.url }}', 'Referrer: {{ page_title }}')">
                                      {% case link.title %}
                                          {% when 'US' %}
                                              {{- 'layout.country_selector.united_states' | t -}}
                                          {% when 'CA' %}
                                              {{- 'layout.country_selector.canada' | t -}}
                                      {% endcase %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>

                <li class="user-nav__item">
                  <a role="button" aria-label="toggle search field" href="#" class="user-nav__link" data-trigger="search">
                    {%- include 'icon' with 'icon-search' -%}
                  </a>
                </li>
                <li class="user-nav__item">
                  <a class="user-nav__link{% if template contains 'account' or template contains 'login' or template contains 'addresses' or template contains 'order' or template contains 'register' or template contains 'reset_password' or template contains 'activate_account' %} user-nav__link--active{% endif %}" aria-label="account page" href="/account" onClick="ga('send', 'event', 'Header Navigation', 'Click: /account', 'Referrer: {{ page_title }}')">
                    {%- include 'icon' with 'icon-user' -%}
                  </a>
                </li>

                <li class="user-nav__item">
                    <a id="cart-count" class="user-nav__link{% if template contains 'cart' %} user-nav__link--active{% endif %}" href="/cart" onClick="ga('send', 'event', 'Header Navigation', 'Click: /cart', 'Referrer: {{ page_title }}')">
                      {%- include 'icon' with 'icon-bag' -%}
                      <span class="js-cart-count">
                        {{ cart.item_count }}
                      </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
