<!-- /snippets/modules/footer.liquid -->

<footer class="footer{% if template contains 'product' %} footer--with-local-nav{% endif %} footer--{{ settings.footer_style }}" data-module="footer">
    <div class="footer__container container-sp">
        <div class="footer-logo">
            <a class="footer-logo__link" href="{% if shop.url contains 'https' %}{{ shop.url }}{% else %}{{ shop.url | replace: 'http', 'https' }}{% endif %}" aria-label="{{ shop.name }}" onClick="ga('send', 'event', 'Footer Navigation', 'Click: {{ shop.url }}', 'Referrer: {{ page_title }}')">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1090 197.4" enable-background="new 0 0 1090 197.4" xml:space="preserve">
                    <path d="M561.5,10h-26.7c-85.2,0.8-81,53-81.1,54.5l-0.1,108.4c0,8.9,6.7,16.2,14.9,16.2h12.8c8.2,0,14.9-7.3,14.9-16.2V70
                    c3-17.2,23.2-19.2,23.2-19.2h46.3c0,0,11.9-0.9,11.9-20S561.5,10,561.5,10" />
                    <path d="M687.4,8c-53.9,0-97.5,7.3-97.5,61.2v58.7c0,53.9,43.7,61.2,97.5,61.2s97.6-7.3,97.6-61.2V69.2C785,15.3,741.3,8,687.4,8
                     M742.4,117.1c0,30-24.6,32.1-55,32.1s-55-2-55-32.1V79.9c0-30,24.6-32.1,55-32.1s55,2.1,55,32.1V117.1z" />
                    <path d="M274.1,26.1c0-8.9-6.6-16.1-14.8-16.1h-12.8c-8.3,0-14.9,7.2-14.9,16.2v108.6l0.3-0.4c3.4,48,45.6,54.7,97.3,54.7
                    c53.9,0,97.5-7.3,97.5-61.2V52.3l0,0V26.1c0-8.9-6.6-16.2-14.9-16.2H399c-8.2,0-14.9,7.2-14.9,16.2v90.6
                    c-0.8,28.7-25.1,32.5-54.9,32.5c-30.4,0-55-3.9-55-33.9L274.1,26.1L274.1,26.1z" />
                    <path d="M888.3,8.2c-53.9,0-78.6,14.9-78.6,68.8v95.7c0,8.9,6.6,16.1,14.8,16.1h12.8c8.2,0,15-7.2,15-16.1V86.3
                    c0.8-28.6,6.1-38.2,36-38.2s35.2,9.5,36,38.2v86.4c0,8.9,6.7,16.1,14.9,16.1H952c8.2,0,14.9-7.2,14.9-16.1V77
                    C966.9,23.1,942.1,8.2,888.3,8.2" />
                    <path d="M1003,8.2c-53.9,0-78.6,14.9-78.6,68.8v95.7c0,8.9,6.7,16.1,14.9,16.1H952c8.2,0,14.9-7.2,14.9-16.1V86.3
                    c0.8-28.6,6.1-38.2,36-38.2s35.2,9.5,36,38.2v86.4c0,8.9,6.7,16.1,14.9,16.1h12.8c8.3,0,14.9-7.2,14.9-16.1V77
                    C1081.5,23.1,1056.8,8.2,1003,8.2" />
                    <path d="M188.6,10h-12.8c-7.9,0-14.2,6.6-14.9,14.8c0,0.6-0.1,1.1-0.1,1.7v46.3c-48.6-7.9-83.5-4.1-109.8,0.4l0,0V26.6
                    c0-8.9-6.6-16.2-14.9-16.2H23.4c-8.2,0-14.9,7.3-14.9,16.2v146.8c0,8.9,6.7,16.1,14.9,16.1h12.8c8.3,0,14.9-7.2,14.9-16.1v-57.7v0.1
                    c26.3-4.5,61.1-8.3,109.8-0.4v58c0,8.9,6.7,16.1,14.9,16.1h12.8c8.2,0,14.9-7.2,14.9-16.1V26.1C203.5,17.2,196.8,10,188.6,10" />
                </svg>
            </a>
        </div>

        <div class="footer-country hide">
          <ul class="footer-country__list mobile-nav__list mobile-nav__list--country" data-dropdown>
            {%- for link in linklists.country-menu.links -%}
                <li class="footer-country__item">
                    <a class="footer-country__link{% if forloop.first %} footer-country__link--first{% endif %}{% if country contains link.title | handle %} footer-country__link--active{% endif %} flag store-{{ link.title | handleize }}"
                      href="{%- if country contains link.title | handle -%}#{%- else -%}{{- link.url -}}{%- unless country contains link.title -%}?redirect=false{%- endunless -%}{%- endif -%}"
                      onClick="ga('send', 'event', 'Header Navigation', 'Click: {{ link.url }}', 'Referrer: {{ page_title }}')">
                      {%- case link.title -%}
                          {%- when 'US' -%}
                              {{- 'layout.country_selector.united_states' | t -}}
                          {%- when 'CA' -%}
                              {{- 'layout.country_selector.canada' | t -}}
                      {%- endcase -%}
                    </a>
                </li>
            {%- endfor -%}
            <i class="footer-country__caret-down"></i>
          </ul>
        </div>

        <div class="footer-details">
            <div class="footer-info">
                <ul class="footer-info__list">
                    {% for link in linklists.footer.links %}
                        <li class="footer-info__item">
                            <a class="footer-info__link" href="{{ link.url }}" onClick="ga('send', 'event', 'Footer Navigation', 'Click: {{ link.url }}', 'Referrer: {{ page_title }}')">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="footer-service">
                <p class="footer-service__head">{{ settings.footer_column_2_header }}</p>
                <span class="footer-service__phone">{{ settings.footer_column_2_text }}</span>
            </div>
        </div>

        {% if settings.footer_newsletter_enable %}
            <div class="footer-newsletter">
                <p class="footer-newsletter__head">{{ settings.footer_column_signup_header }}</p>
                <div class="footer-newsletter__holder">
                    <form id="mc-embedded-subscribe-form" class="footer-newsletter__form" action="//hurom.us10.list-manage.com/subscribe/post-json?u=e591cf0ac90ff25a1c5fcc40f&amp;id=419d71ffe2&amp;c=?" method="post" method="post" name="mc-embedded-subscribe-form" novalidate>
                        <label class="sr-only" for="mce-email-footer">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
                        <input id="mce-email-footer" class="footer-newsletter__field field" type="email" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                        {% case settings.country %}
                          {% when 'US' %}
                            <input type="checkbox" value="8" name="group[8861][8]" aria-hidden="true" tabindex="-1" id="mce-group[8861]-8861-0" style="display:none;" checked>
                          {% when 'CA' %}
                            <input type="checkbox" value="536870912" name="group[8861][536870912]" aria-hidden="true" tabindex="-1" id="mce-group[8861]-8861-26" style="display:none;" checked>
                        {% endcase %}

                        <button id="mc-embedded-subscribe" aria-label="Submit" class="footer-newsletter__btn" type="submit" name="subscribe"></button>
                        <span class="error hidden">{{ 'general.newsletter_form.error' | t }}</span>
                        <!-- real people should not fill this in and expect good things -->
                        <div class="mce_hidden sr-only" style="display: none">
                            <input id="b_b27ba410d303e0a239c8ba8e5_3568ace95e" type="text" name="b_b27ba410d303e0a239c8ba8e5_3568ace95e" aria-hidden="true" tabindex="-1" value="">
                            <label class="sr-only" for="b_b27ba410d303e0a239c8ba8e5_3568ace95e">hidden value</label>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}

        {% if settings.footer_social_enable %}
            <div class="footer-social">
                <p class="footer-social__head">{{ settings.footer_column_social_media_header }}</p>
                <ul class="footer-social__list">
                    {% for link in linklists.social-menu.links %}
                        <li class="footer-social__item">
                          <a class="footer-social__link" href="{{ link.url }}" aria-label="{{ link.title }}" target="_blank" onClick="ga('send', 'event', 'Social Media Links', 'Click: {{ link.title }}', 'Referrer: {{ page_title }}')">
                            {%- if link.title == 'Instagram' -%}
                              {%- include 'icon' with 'icon-instagram' -%}
                            {%- else -%}
                            <i class="footer-social__ico-{{ link.title | handleize }}"></i>
                            <span class="footer-social__title">{{ link.title }}</span>
                            {%- endif -%}
                          </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <!-- TO EDIT -->
        <p class="footer-disclaimer">
            © {{ 'now' | date: "%Y" }} Hurom America Inc. All Rights Reserved. <a class="link-o" href="/pages/privacy-policy" onClick="ga('send', 'event', 'Footer Navigation', 'Click: /pages/privacy-policy', 'Referrer: {{ page_title }}')">Privacy Policy</a>.
        </p>
        <!-- END TO EDIT -->
    </div>
</footer>
