<!-- /snippets/modules/recipe-share.liquid -->

<div class="sticky-share">
	<span class="__title h5">Share</span>
	<ul class="__list">
		<li class="__item">
			<a class="__link is-facebook" href="{{ share_facebook }}" target="_blank" alt="Facebook" onClick="ga('send', 'event', '{{ ga_category }}', 'Clicked Share on Facebook', 'Referrer: {{ ga_referrer }}')">
				<span class="fallback">Facebook</span>
			</a>
		</li>
		<li class="__item">
			<a class="__link is-twitter" href="{{ share_twitter }}" target="_blank" alt="Twitter" onClick="ga('send', 'event', '{{ ga_category }}', 'Clicked Share on Twitter', 'Referrer: {{ ga_referrer }}')">
				<span class="fallback">Twitter</span>
			</a>
		</li>
		<li class="__item">
			<a class="__link is-pinterest" href="{{ share_pinterest }}" target="_blank" alt="Pinterest" onClick="ga('send', 'event', '{{ ga_category }}', 'Clicked Share on Pinterest', 'Referrer: {{ ga_referrer }}')">
				<span class="fallback">Pinterest</span>
			</a>
		</li>
		<li class="__item">
			<a class="__link is-email" href="{{ share_email }}" alt="Email" onClick="ga('send', 'event', '{{ ga_category }}', 'Clicked Share by Email', 'Referrer: {{ ga_referrer }}')">
				<span class="fallback">Email</span>
			</a>
		</li>
	</ul>
</div>

{% assign share_facebook = false %}
{% assign share_twitter = false %}
{% assign share_pinterest = false %}
{% assign share_email = false %}
{% assign ga_category = false %}
{% assign ga_referrer = false %}