<!-- /snippets/modules/seasons-more.liquid -->

{% assign seasons = 'autumn, winter, spring, summer' | split: ',' %}

<section class="seasons-more">
	<div class="seasons-more__container container-ml">
		<h3 class="seasons-more__head h2">Explore More Seasons</h3>
		<div class="seasons-more__wrapper">
			{% for season in seasons %}
				{% assign tag = season | strip | handleize  %}
				{% unless current contains tag %}
					<a class="seasons-more__link link-s" 
						href="/pages/{{ tag }}-juicing-ingredients"
						title="{{ season | strip | capitalize }}"
						onclick="ga('send', 'event', 'Seasonal Ingredients Landing Pages - {{ current | capitalize }}', 'Clicked Explore {{ season | strip | capitalize }}', 'Referrer: {{ page_title }}')">
							<i class="seasons-more__icon is-{{ tag }} b-lazy" data-src="{{ 'ico-seasons-sprite.svg' | asset_url }}"></i>
							<h4 class="seasons-more__name h5">{{ season | strip | capitalize }}</h4>
					</a>
				{% endunless %}
			{% endfor %}
		</div>
		<a class="seasons-more__view link" href="/pages/seasonal-juicing-ingredients" title="View All Seasons" onclick="ga('send', 'event', 'Seasonal Ingredients Landing Pages - {{ current | strip | capitalize }}', 'Clicked View All Seasons', 'Referrer: {{ page_title }}')">View All Seasons</a>
	</div>
</section>

{% assign seasons = false %}
{% assign tag = false %}
{% assign current = false %}