<!-- /snippets/modules/timeline.liquid -->
<section class="timeline" data-module="timeline">
    <div class="timeline__container container--about">
        <h1 class="timeline__headline">Our Story</h1>
        <div class="timeline__inner">
            <div class="timeline__item js-item">
                <div class="timeline__image-date">
                    <span class="timeline__date">1974</span>
                    <img class="timeline__image" src="{{ '1974.jpg' | asset_url }}" alt=""/>
                </div>
                <div class="timeline__content">
                    <h3 class="timeline__title">Hurom was founded as a kitchen appliance company. </h3>
                    <p class="timeline__intro">An entrepreneur and an innovator, Hurom's founder had a mission in mind to promote healthy lifestyles by making appliances that help people to eat more nutritious whole foods. </p>
                </div>
            </div>
            <div class="timeline__item js-item">
                <div class="timeline__image-date">
                    <span class="timeline__date">1979 - 1998</span>
                    <img class="timeline__image" src="{{ '1979.jpg' | asset_url }}" alt=""/>
                </div>
                <div class="timeline__content">
                    <h3 class="timeline__title">Developed kitchen appliances including electric food processor.</h3>
                    <p class="timeline__intro">Innovation has always been a key driver of Hurom. During this time, Hurom manufactured and commercialized several kitchen appliances including a high-speed food processor.</p>
                </div>
            </div>
            <div class="timeline__item js-item">
                <div class="timeline__image-date">
                    <span class="timeline__date">2005</span>
                    <img class="timeline__image" src="{{ '2005.jpg' | asset_url }}" alt=""/>
                </div>
                <div class="timeline__content">
                    <h3 class="timeline__title">Innovated the world's first Slow Juicer and Slow Squeeze Technology (SST)</h3>
                    <p class="timeline__intro">Hurom innovated the world's first Slow Juicer using Hurom's globally patented Slow Squeeze Technology. </p>
                </div>
            </div>
            <div class="timeline__item js-item">
                <div class="timeline__image-date">
                    <span class="timeline__date">2010</span>
                    <img class="timeline__image" src="{{ '2010.jpg' | asset_url }}" alt=""/>
                </div>
                <div class="timeline__content">
                    <h3 class="timeline__title">Hurom Slow Juicer selected as the World Class Korean Product</h3>
                    <p class="timeline__intro">The Korean government designated Hurom Slow Juicer as the World Class Product testifying its market growth. World Class Product is annually entitled to a product that ranks among the top 5 in global market share. </p>
                </div>
            </div>
            <div class="timeline__item js-item">
                <div class="timeline__image-date">
                    <span class="timeline__date">2013</span>
                    <img class="timeline__image" src="{{ '2013.jpg' | asset_url }}" alt=""/>
                </div>
                <div class="timeline__content">
                    <h3 class="timeline__title">Awarded Red Dot Design Award & IF Product Design Award</h3>
                    <p class="timeline__intro">Hurom awarded for its excellence in product design at world-renowned design competitions.</p>
                </div>
            </div>
            <div class="timeline__item js-item">
                <div class="timeline__image-date">
                    <span class="timeline__date">Today</span>
                    <img class="timeline__image" src="{{ 'Today.jpg' | asset_url }}" alt=""/>
                </div>
                <div class="timeline__content">
                    <h3 class="timeline__title">Hurom Today</h3>
                    <p class="timeline__intro">In the slow juicer market, pioneered by Hurom, the Hurom Slow Juicer has accumulated millions of sales globally. Hurom continues to refine its juicing technology and develop more useful appliances.</p>
                </div>
            </div>
        </div>
    </div>
</section>
