{%- assign current_variant = product.selected_or_first_available_variant -%}

{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% unless product.available %}
  {% assign sold_out = true %}
{% endunless %}

<div class="product-item" data-view="fadein-up" data-view-delay="{{ delay }}s">
  <a class="product-item__wrapper js-color-link"
    href="{{ product.url }}"
    {%- if template contains 'product' -%}
      onClick="ga('send', 'event', 'Product Page CTAs', 'Click: Featured Accessories - {{ product.title }}', 'Referrer: {{ page_title }}')"
    {%- endif -%}>
    <div class="product-item__featured {% if template contains 'product' and product.type contains 'Accessory' %}product-item__featured--accessory{% endif %}">
      <img class="product-item__img{% if template contains 'product' and product.type contains 'Accessory' %} product-item__img--accessory{% endif %} js-color-image"
      src="{% if product.featured_image %}{{ product.featured_image.src | img_url: '450x' }}{% else %}{{ 'fallback-product-item.svg' | asset_url }}{% endif %}"
      alt="">
    </div>
    <div class="product-item__description">
      {%- if product.title != blank -%}
      <h3 class="product-item__title">
        {%- if product.type contains 'Juicer' -%}
          {{- product.title | remove: ' Slow Juicer' -}}
          <br>
          Slow Juicer
        {%- else -%}
          {{- product.title -}}
        {%- endif -%}
      </h3>
      {%- endif -%}
    </div>
  </a>

  <div class="product-item__options">
    <div class="product-item__labels js-sale-labels f">
      {% if current_variant.compare_at_price > current_variant.price %}
        <div id="on-sale-label" class="product-item__on-sale-label">{{ 'products.product.on_sale' | t }}</div>
        <div id="compare-price-field" class="product-item__price-sale product-item__price js-compare-price-field">
          {{- current_variant.compare_at_price | money | remove: ' ' -}}
        </div>
      {% endif %}
      <span class="product-item__price js-color-price">
        {{ current_variant.price | money_without_trailing_zeros }}
      </span>
    </div>

    {%- if product.variants.size > 1 and product.available -%}
      {%- for option in product.options -%}
        {%- if option contains 'Color' -%}
          {%- assign color_option_key = 'option' | append: forloop.index -%}
          {%- assign inventory_counter = 0 -%}

          {%- for variant in product.variants -%}
            {%- if variant.inventory_quantity > 0 or variant.inventory_policy == 'continue' -%}
              {%- assign inventory_counter = inventory_counter | plus: 1 -%}
            {%- endif -%}
          {%- endfor -%}

          {%- if inventory_counter > 1 -%}
            <div class="product-item__swatch" data-module="color-swatch">
              {% comment %}
                Collect colors and first accompanying url and image
              {% endcomment %}
              {%- for variant in product.variants -%}
                {%- unless metafield['glob_hidden_variants'] contains variant.title -%}
                  {%- unless colors_str contains variant[color_option_key] -%}
                    {%- capture colors_str -%}
                      {{- colors_str -}}
                      {%- unless forloop.first -%}|{%- endunless -%}
                      {{- variant[color_option_key] -}}
                    {%- endcapture -%}

                    {%- capture variant_urls_str -%}
                      {{- variant_urls_str -}}
                      {%- unless forloop.first -%}|{%- endunless -%}
                      {{- variant.url -}}
                    {%- endcapture -%}

                    {%- capture variant_images_str -%}
                      {{- variant_images_str -}}
                      {%- unless forloop.first -%}|{%- endunless -%}
                      {{- variant.image.src | img_url: '450x' -}}
                    {%- endcapture -%}

                    {%- capture variant_prices_str -%}
                      {{- variant_prices_str -}}
                      {%- unless forloop.first -%}|{%- endunless -%}
                      {% if variant.price < variant.compare_at_price %}
                        <span class='product-item__on-sale-label product-item__on-sale-label--variant'>{{ 'products.product.on_sale' | t }}</span><i class='strike o3'>{{- variant.compare_at_price | money_without_trailing_zeros -}}</i> {{- variant.price | money_without_trailing_zeros -}}
                      {% else %}
                        {{- variant.price | money_without_trailing_zeros -}}
                      {% endif %}
                    {%- endcapture -%}
                  {%- endunless -%}

                  {%- if variant.title == product.selected_or_first_available_variant.title -%}
                    {%- assign active_color = variant[color_option_key] -%}
                  {%- endif -%}
                {%- endunless -%}
              {%- endfor -%}

              {% comment %}
                Convert to arrays
              {% endcomment %}
              {%- assign colors = colors_str | split: '|' -%}
              {%- assign variant_urls = variant_urls_str | split: '|' -%}
              {%- assign variant_images = variant_images_str | split: '|' -%}
              {%- assign variant_prices = variant_prices_str | split: '|' -%}

              {% comment %}
                Loop through colors, disable colors that are not available
              {% endcomment %}
              {%- for color in colors -%}
                {%- assign is_disable = 1 -%}

                {%- for variant in product.variants -%}
                  {%- if variant[color_option_key] == color -%}
                    {%- if variant.inventory_quantity <= 0 and variant.inventory_policy == 'deny' -%}
                      {%- assign is_disable = is_disable | times: 1 -%}
                    {%- else -%}
                      {%- assign is_disable = is_disable | times: 0 -%}
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}

                {%- capture color_swatch -%}swatch-{{- color | handle -}}-pos.jpg{%- endcapture -%}

                <span class="product-item__color is-{{ color | handle }} js-color {% if active_color == color %}is-active{% endif %} {% if is_disable == 1 %}is-disabled{% endif %}"
                  data-link="{{- variant_urls[forloop.index0] -}}"
                  data-image="{{- variant_images[forloop.index0] -}}"
                  data-price="{{- variant_prices[forloop.index0] -}}"
                  style="background-image:url({{- color_swatch | file_url -}});"></span>

                {%- assign is_disable = nil -%}
              {%- endfor -%}
            </div>
          {%- endif -%}

          {%- assign color_option_key = nil -%}
          {%- assign inventory_counter = nil -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  </div>

  <div class="product-item__reviews">
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
  </div>
</div>

{%- assign on_sale = nil -%}
{%- assign sold_out = nil -%}
{%- assign colors = nil -%}
{%- assign colors_str = nil -%}
{%- assign active_color = nil -%}
{%- assign variant_urls = nil -%}
{%- assign variant_urls_str = nil -%}
{%- assign variant_images = nil -%}
{%- assign variant_images_str = nil -%}
{%- assign variant_prices = nil -%}
{%- assign variant_prices_str = nil -%}
