<!-- /snippets/components/product-item.liquid -->

{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
    {% assign sold_out = false %}
{% endif %}

<div class="product-item" data-view="fadein-up" data-view-delay="{{ delay }}s">
    <a class="product-item__wrapper js-color-link" href="{{ product.url }}"{% if template contains 'product' %} onClick="ga('send', 'event', 'Product Page CTAs', 'Click: Featured Accessories - {{ product.title }}', 'Referrer: {{ page_title }}')"{% endif %}>
        <div class="product-item__featured{% if template contains 'product' and product.type contains 'Accessory' %} product-item__featured--accessory{% endif %}">
            <img class="product-item__img{% if template contains 'product' and product.type contains 'Accessory' %} product-item__img--accessory{% endif %} js-color-image" src="{% if product.featured_image %}{{ product.featured_image.src | img_url: 'large' }}{% else %}{{ 'fallback-product-item.svg' | asset_url }}{% endif %}" alt="{{ product.title }}">
        </div>
        <div class="product-item__description">
            <h3 class="product-item__title">
                {% if product.type contains 'Juicer' %}
                    {{ product.title | remove: ' Slow Juicer' }}
                    <br>
                    Slow Juicer
                {% else %}
                    {{ product.title }}
                {% endif %}
            </h3>
            <span class="product-item__price">
              Regular Price:
                {% if product.price_varies %}
                    {{ product.price_min | money }} - {{ product.price_max | money }}
                {% else %}
                    {{ product.price | money }}
                {% endif %}
                {% if on_sale %} <i class="on-sale">{{ 'products.product.on_sale' | t }}</i>{% endif %}
                {% if sold_out %} <i class="sold-out">{{ 'products.product.sold_out' | t }}</i>{% endif %}
            </span>
        </div>
    </a>
    {% comment %}
    {% if product.variants.size > 1 and product.available %}
        {% for option in product.options %}
            {% if option contains 'Color' %}
                {% assign inventory_counter = 0 %}
                {% for variant in product.variants %}
                    {% if variant.inventory_quantity > 0 %}
                        {% assign inventory_counter = inventory_counter | plus: 1 %}
                    {% endif %}
                {% endfor %}
                {% if inventory_counter > 1 %}
                    {{  }}
                    <div class="product-item__swatch" data-component="color-swatch">
                        {% for variant in product.variants %}
                            {% if variant.inventory_quantity <= 0 %}
                                {% assign is_disable = true %}
                            {% endif %}
                            {% if variant.title == product.selected_or_first_available_variant.title %}
                                {% assign is_active = true %}
                            {% endif %}
                            <span class="product-item__color is-{{ variant.title | handleize }} js-color {% if is_active %}is-active{% endif %} {% if is_disable %}is-disabled{% endif %}"
                                data-link="{{ variant.url }}"
                                data-image="{{ variant.image.src | img_url: 'large' }}"></span>
                            {% assign is_active = false, is_disable = false %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% assign inventory_counter = false %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endcomment %}
    <div class="product-item__caption">
      <p>
      {% if product.handle == 'h-aa-slow-juicer' %}
      Our sleek black juicer can make ice cream in its chamber and features our latest Alpha Technology for easy cleaning and great squeeze.
      {% elsif product.handle == 'hz-slow-juicer' %}
      Features the same Alpha Technology capabilities as the H-AA but comes in a durable, stainless steel finish and LED indicators. Great for families.
      {% elsif product.handle == 'hh-elite-slow-juicer' %}
      Our best-selling and award-winning juicer, the HH Elite is tried and true. Our classic juicer is great for everyday use and available at an amazing price.
      {% endif %}
      </p>
    </div>

    <a href="{{ product.url }}" class="product-item__button btn">Learn More</a>
</div>
